<!DOCTYPE html>
<html>
<head>
    <title>Анегорка</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="theme-color" content="#FF4040">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/css/main.css?v=<?= filemtime(ROOT_PATH . '/css/main.css'); ?>" type="text/css"/>

    <script src="/js/libs/jquery.min.js"></script>
    <script src="/js/libs/jquery.maskedinput.min.js"></script>
    <script src="/js/libs/jquery.scrollTo-min.js"></script>
    <script src="/js/main.js?v=<?= filemtime(ROOT_PATH . '/js/main.js'); ?>"></script>
    <script src="/js/inputs.js?v=<?= filemtime(ROOT_PATH . '/js/inputs.js'); ?>"></script>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&amp;subset=cyrillic"
          rel="stylesheet">
</head>

<body>
<aside>
    <div class="mobile-sidebar">
        <div>
            <div class="open-menu-icon">
                <i></i><i></i><i></i>
            </div>
            <div class="close-menu-icon">
                <span class="icon-close"></span>
            </div>

            <nav class="categories">
                <a href="/category">
                    <span class="icon icon-icon-all"></span>
                </a>
                <a href="/category">
                    <span class="icon icon-icon-01"></span>
                </a>
                <a href="/category">
                    <span class="icon icon-icon-02"></span>
                </a>
                <a href="/category">
                    <span class="icon icon-icon-03"></span>
                </a>
                <a href="/category">
                    <span class="icon icon-icon-04"></span>
                </a>
                <a href="/category">
                    <span class="icon icon-icon-05"></span>
                </a>
                <a href="/category">
                    <span class="icon icon-icon-06"></span>
                </a>
            </nav>

            <nav class="sn">
                <a href="#">
                    <span class="icon-icon-fb"></span>
                </a>
                <a href="#">
                    <span class="icon-icon-vk"></span>
                </a>
                <a href="#">
                    <span class="icon-icon-ok"></span>
                </a>
                <a href="#">
                    <span class="icon-icon-yt"></span>
                </a>
            </nav>
        </div>
        <div class="search-cart">
            <a href="/search" class="icon search-icon icon-search show-search-popup"></a>

            <a href="/order" class="cart">
                <span class="sum rub-price">1000</span>
                <span class="icon icon-icon-cart"></span>
            </a>
        </div>
    </div>

    <div class="sidebar">
        <div>
            <div class="top">
                <div class="default-top">
                    <a href="/" class="logo">
                        <img src="/img/logo.svg"/>
                    </a>
                </div>

                <div class="scrolled-top">
                    <a href="/order" class="cart">
                        <span class="icon icon-icon-cart"></span>
                        <span class="sum rub-price">1000</span>
                    </a>

                    <a href="/" class="logo">
                        <img src="/img/logo-min.svg"/>
                    </a>

                    <a href="/search" class="icon search-icon icon-search show-search-popup"></a>
                </div>

                <div class="mobile-top">
                    <a href="/" class="logo">
                        <img src="/img/logo-min.svg"/>
                    </a>

                    <a href="/search" class="icon search-icon icon-search show-search-popup"></a>

                    <a href="tel:8 800 1234 55 66" class="phone-icon icon-telephone"></a>

                    <a href="/order" class="cart">
                        <span class="icon icon-icon-cart"></span>
                    </a>
                </div>
            </div>

            <div class="links">
                <nav class="categories">
                    <a href="/category">
                        <div class="icon-wr">
                            <span class="icon icon-icon-all"></span>
                        </div>
                        Все товары
                    </a>
                    <a href="/category">
                        <div class="icon-wr">
                            <span class="icon icon-icon-01"></span>
                        </div>
                        Шапки
                    </a>
                    <a href="/category">
                        <div class="icon-wr">
                            <span class="icon icon-icon-02"></span>
                        </div>
                        Шарфы
                    </a>
                    <a href="/category">
                        <div class="icon-wr">
                            <span class="icon icon-icon-03"></span>
                        </div>
                        Манишки
                    </a>
                    <a href="/category">
                        <div class="icon-wr">
                            <span class="icon icon-icon-04"></span>
                        </div>
                        Свитера
                    </a>
                    <a href="/category">
                        <div class="icon-wr">
                            <span class="icon icon-icon-05"></span>
                        </div>
                        Шлемы
                    </a>
                    <a href="/category">
                        <div class="icon-wr">
                            <span class="icon icon-icon-06"></span>
                        </div>
                        Повязки
                    </a>
                </nav>

                <nav class="pages">
                    <a href="/delivery">Доставка и оплата</a>
                    <a href="/about">Компания</a>
                </nav>
            </div>
        </div>

        <footer>
            <nav class="sn">
                <a href="#">
                    <span class="icon-icon-fb"></span>
                </a>
                <a href="#">
                    <span class="icon-icon-vk"></span>
                </a>
                <a href="#">
                    <span class="icon-icon-ok"></span>
                </a>
                <a href="#">
                    <span class="icon-icon-yt"></span>
                </a>
            </nav>
            <a href="tel:8 800 1234 55 66" class="phone">8 800 1234 55 66</a>
            <a href="/opt" class="opt">
                <span class="icon icon-icon-b2b"></span>
                Оптовая продажа
            </a>
            <div class="copy">
                © <?= date('Y'); ?>
                <a href="#">Публичная оферта</a>
            </div>
        </footer>
    </div>
</aside>

<div class="main-content">
    <header>
        <div class="left-block">
            <a class="logo" href="/">
                <img src="/img/logo-h.svg" class="logo-wide"/>
                <img src="/img/logo-min-black.svg" class="logo-min"/>
                <img src="/img/logo-black.svg" class="logo-mobile"/>
            </a>
            <div class="search-icon show-search-popup">
                <span class="icon-search"></span>
            </div>
            <a href="tel:8 800 1234 55 66" class="phone">
                <span class="icon-telephone icon"></span>
                8 800 1234 55 66
            </a>
            <nav class="main-menu">
                <a href="/delivery">Доставка и оплата</a>
                <a href="/about">Компания</a>
            </nav>
        </div>

        <div class="right-block">
            <a href="/discout" class="discount-link">
                <span class="badge discount pink">-10</span>
                при заказе от 1000 р.
            </a>

            <a href="/order" class="cart">
                <span class="icon icon-icon-cart"></span>
                <span class="sum rub-price">1 000</span>
            </a>
        </div>

        <div class="open-mobile-menu">
            <span class="icon-burger"></span>
        </div>
    </header>

    <main>
        {{content}}
    </main>

</div>

<div class="fullsize-popup search-popup">
    <div class="popup-close-btn">
        <img src="/img/icons/cross.svg"/>
    </div>

    <form class="search-form">
        <div class="title h1">Найти</div>
        <div class="input-wr">
            <input type="text"/>
            <button class="btn"><span class="icon-search show-search-popup"></span></button>
        </div>
    </form>
</div>
</body>
</html>