.category-page .filter-block {
  flex-wrap: wrap;
  padding-left: 16px;
  padding-right: 16px;
}
.category-page .filter-block .filter-item {
  margin-bottom: 20px;
}
.category-page .colors-block .expand-btn {
  right: 0;
}
