@charset "UTF-8";
/* Slider */
.slick-loading .slick-list {
  background: #fff url('ajax-loader.gif') center center no-repeat;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover,
.slick-next:hover,
.slick-prev:focus,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Icons */
}
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/slick.eot');
  src: url('fonts/slick.eot?#iefix') format('embedded-opentype'), url('fonts/slick.woff') format('woff'), url('fonts/slick.ttf') format('truetype'), url('fonts/slick.svg#slick') format('svg');
}
.slick-prev {
  left: -25px;
}
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir="rtl"] .slick-prev:before {
  content: "→";
}
.slick-next {
  right: -25px;
}
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir="rtl"] .slick-next:before {
  content: "←";
}
/* Dots */
.slick-dotted .slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
:focus {
  outline: 0;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* defaults */
/* Generated by Glyphter (http://www.glyphter.com) on  Sat May 12 2018*/
@font-face {
  font-family: 'Glyphter';
  src: url('fonts/Glyphter.eot');
  src: url('fonts/Glyphter.eot?#iefix') format('embedded-opentype'), url('fonts/Glyphter.woff?v=2') format('woff'), url('fonts/Glyphter.ttf?v=2') format('truetype'), url('fonts/Glyphter.svg#Glyphter') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class*='icon-']:before {
  display: inline-block;
  font-family: 'Glyphter';
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-icon-01:before {
  content: '\0041';
}
.icon-icon-02:before {
  content: '\0042';
}
.icon-icon-03:before {
  content: '\0043';
}
.icon-icon-04:before {
  content: '\0044';
}
.icon-icon-05:before {
  content: '\0045';
}
.icon-icon-06:before {
  content: '\0046';
}
.icon-icon-all:before {
  content: '\0047';
}
.icon-icon-b2b:before {
  content: '\0048';
}
.icon-icon-cart:before {
  content: '\0049';
}
.icon-icon-cart-white:before {
  content: '\004a';
}
.icon-icon-fb:before {
  content: '\004b';
}
.icon-icon-help:before {
  content: '\004c';
}
.icon-icon-ok:before {
  content: '\004d';
}
.icon-icon-pay:before {
  content: '\004e';
}
.icon-icon-sale:before {
  content: '\004f';
}
.icon-icon-vk:before {
  content: '\0050';
}
.icon-icon-yt:before {
  content: '\0051';
}
.icon-search:before {
  content: '\0052';
}
.icon-sq:before {
  content: '\0053';
}
.icon-telephone:before {
  content: '\0054';
}
.icon-burger:before {
  content: '\0055';
}
.icon-close:before {
  content: '\0056';
}
.icon-cross:before {
  content: '\0057';
}
.icon-icon_mail:before {
  content: '\0058';
}
.icon-icon_phone:before {
  content: '\0059';
}
.icon-icon_pin:before {
  content: '\005a';
}
.rub-price:after {
  content: '9';
  font-weight: normal;
  font-family: PTRoubleSans;
  position: relative;
  top: 3px;
  margin-left: 1px;
}
.h1 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}
.h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 16px;
}
.h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}
.text-wrap {
  max-width: 880px;
  margin: 0 auto;
}
p {
  margin-bottom: 18px;
  line-height: 1.9;
  max-width: 879px;
}
.page-title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
  margin: 22px 0 8px;
}
.old-price {
  color: #888DA6;
  font-weight: 500;
  position: relative;
}
.old-price:before {
  content: '';
  display: block;
  border-top: 2px solid #FF4040;
  position: absolute;
  width: calc(100% + 7px);
  transform: rotate(-15deg);
  bottom: 4px;
  transform-origin: bottom left;
  left: -2px;
}
.products-mesh {
  display: flex;
  flex-wrap: wrap;
  padding: 24px 19px 20px 34px;
}
.products-mesh .product-cart {
  display: block;
  width: calc(25% - 15px);
  height: 440px;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14);
  margin: 0 15px 40px 0;
  position: relative;
  text-align: center;
  overflow: hidden;
}
.products-mesh .product-cart:hover .to-cart-btn .circle {
  transform: translate(0, 0);
}
.products-mesh .product-cart:hover .to-cart-btn .icon {
  opacity: 1;
}
.products-mesh .product-cart:hover .size {
  transform: translateX(0);
  opacity: 1;
}
.products-mesh .product-cart .badges {
  position: absolute;
  display: flex;
  width: 100%;
  top: 20px;
  justify-content: center;
}
.products-mesh .product-cart .photo-wr {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}
.products-mesh .product-cart .photo-wr img {
  max-width: 100%;
  max-height: 100%;
}
.products-mesh .product-cart .category {
  font-size: 12px;
  color: #A6AABD;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 10px;
}
.products-mesh .product-cart .name {
  font-size: 16px;
  line-height: 22px;
  height: 48px;
  overflow: hidden;
}
.products-mesh .product-cart .price-wr .price {
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  position: relative;
}
.products-mesh .product-cart .price-wr .price:after {
  font-size: 21px;
}
.products-mesh .product-cart .price-wr .price .old-price {
  font-size: 18px;
  position: absolute;
  right: calc(100% + 15px);
  top: 6px;
}
.products-mesh .product-cart .size {
  position: absolute;
  top: 42px;
  left: -7px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  transition: .2s;
  opacity: 0;
  transform: translateX(-12px);
}
.products-mesh .product-cart .size .caption {
  transform: rotate(-90deg);
}
.products-mesh .product-cart .size .value {
  color: #FF4040;
  margin-top: 25px;
}
.products-mesh .product-cart .to-cart-btn {
  position: absolute;
  cursor: pointer;
  right: 78px;
  bottom: 73px;
}
.products-mesh .product-cart .to-cart-btn:hover .circle {
  background: #3B4057;
}
.products-mesh .product-cart .to-cart-btn .circle {
  background: #FF4040;
  width: 156px;
  height: 156px;
  position: absolute;
  transform: translate(53px, 53px);
  transition: .3s;
  border-radius: 50%;
}
.products-mesh .product-cart .to-cart-btn .icon {
  position: absolute;
  top: 34px;
  left: 42px;
  opacity: 0;
  transition: 1s;
}
.btn-center {
  text-align: center;
}
.badge {
  color: #fff !important;
  font-size: 14px;
  background: #ED2A7B;
  height: 25px;
  font-weight: bold;
  padding: 3px 9px;
  line-height: 21px;
  display: inline-block;
}
.badge.new {
  background: #FF4040;
}
.badge.popular {
  background: #3B4057;
}
.badge.discount {
  background: #4AA3FF;
}
.badge.discount:after {
  content: '%';
  font-weight: normal;
}
.badge.pink {
  background: #FF398B;
}
.slick-arrow.slick-prev:after {
  transform: rotate(-45deg);
}
.slick-arrow.slick-next:after {
  transform: rotate(135deg);
}
.slick-arrow:before {
  display: none;
}
.slick-arrow:after {
  content: '';
  border-top: 2px solid #FF4040;
  border-left: 2px solid #FF4040;
  width: 15px;
  height: 15px;
  display: block;
  transition: .2s;
}
.slick-arrow:hover:after {
  border-top-color: #3B4057;
  border-left-color: #3B4057;
}
.form .row {
  display: flex;
  justify-content: space-between;
}
.form .row .input-block {
  width: 370px;
}
.form .input-block {
  position: relative;
  margin-bottom: 25px;
}
.form .input-block.req .name:after {
  content: '';
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  right: 14px;
  top: 10px;
  background: #FF4040;
}
.form .input-block .name {
  margin-bottom: 8px;
  line-height: 22px;
  color: #828594;
}
.form .input-block input,
.form .input-block textarea {
  width: 100%;
}
.form .input-block textarea {
  height: 103px;
}
ul.marked li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 4px;
  line-height: 1.9;
}
ul.marked li:before {
  content: '';
  display: block;
  position: absolute;
  top: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #FF4040;
  left: -1px;
}
@media screen and (max-width: 1090px) {
  .products-mesh .product-cart {
    width: calc(33.3% - 15px);
  }
}
input:not([type="radio"]):not([type="checkbox"]),
textarea {
  background-clip: padding-box;
  border-radius: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  border: 1px solid #828594;
  line-height: 40px;
  color: #1C1C1C;
  padding: 0 20px;
  height: 40px;
}
.btn {
  line-height: 56px;
  background: #FF4040;
  color: #fff;
  text-align: center;
  display: inline-block;
  border: 0;
  transition: .2s;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  padding: 0 37px;
  cursor: pointer;
}
.btn:hover {
  background: #3B4057;
}
.btn.btn-outline {
  background: transparent;
  border: 2px solid #FF4040;
  color: #FF4040;
}
.btn.btn-outline:hover {
  background: transparent;
  border-color: #3B4057;
  color: #3B4057;
}
.btn.btn-dark {
  background: #3B4057;
}
.dropdown-list {
  background: #FFFFFF;
  border: 1px solid #828594;
  height: 40px;
  position: relative;
  cursor: pointer;
  padding-right: 20px;
  font-weight: 500;
  width: 100%;
}
.dropdown-list.opened:after {
  border-width: 0 5px 7px 5px;
  border-color: transparent transparent #ff4040 transparent;
}
.dropdown-list.opened .options {
  transform: scaleY(1);
}
.dropdown-list:after {
  content: '';
  position: absolute;
  right: 7px;
  top: 16px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 5px 0 5px;
  border-color: #ff4040 transparent transparent transparent;
  transition: .2s;
}
.dropdown-list .value {
  line-height: 40px;
  padding: 0 10px;
}
.dropdown-list .options {
  position: absolute;
  z-index: 100;
  background: #fff;
  border: 1px solid #828594;
  border-top: none;
  left: -1px;
  top: 100%;
  width: calc(100% + 2px);
  transition: .2s;
  transform: scaleY(0);
  transform-origin: top;
  padding-bottom: 5px;
}
.dropdown-list .options li {
  line-height: 42px;
  padding: 0 30px 0 10px;
}
.dropdown-list .options li:hover {
  background: #FF4040;
  color: #fff;
}
label {
  font-size: 16px;
}
label [type="radio"] {
  display: none;
}
label [type="radio"] + i {
  background: #FFFFFF;
  border: 2px solid #3B4057;
  display: inline-flex;
  border-radius: 50%;
  margin-right: 9px;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -3px;
}
label [type="radio"]:checked + i:after {
  content: '';
  display: block;
  background: #FF4040;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.index-page {
  background: #F9F9F9;
}
.index-page .top-block {
  height: 522px;
  position: relative;
  background-size: cover;
  background-position: center;
}
.index-page .top-block .c {
  position: absolute;
  top: 58px;
  left: 47px;
}
.index-page .top-block .c .t {
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 26.9px;
}
.index-page .top-block .c .year {
  font-size: 135px;
  letter-spacing: 0;
  font-weight: 900;
  margin: -36px 0 -31px;
}
.index-page .top-block .c .year .red {
  color: #FF4040;
}
.index-page .top-block .c .t2 {
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 25px;
}
.index-page .categories-block {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 34px 0;
  max-width: 1920px;
}
.index-page .categories-block[data-count="3"] a,
.index-page .categories-block[data-count="6"] a {
  width: 32.5%;
  margin: 0 1.25% 16px 0;
}
.index-page .categories-block[data-count="3"] a:nth-child(3n),
.index-page .categories-block[data-count="6"] a:nth-child(3n) {
  margin-right: 0;
}
.index-page .categories-block[data-count="4"] a {
  width: 49%;
  margin: 0 2% 16px 0;
}
.index-page .categories-block[data-count="4"] a:nth-child(2n+1) {
  margin-right: 0;
}
.index-page .categories-block[data-count="5"] a:nth-child(1),
.index-page .categories-block[data-count="5"] a:nth-child(2),
.index-page .categories-block[data-count="5"] a:nth-child(3) {
  width: 32.5%;
  margin: 0 1.25% 16px 0;
}
.index-page .categories-block[data-count="5"] a:nth-child(4),
.index-page .categories-block[data-count="5"] a:nth-child(5) {
  width: 49%;
  margin: 0 2% 16px 0;
}
.index-page .categories-block[data-count="5"] a:nth-child(5n+3),
.index-page .categories-block[data-count="5"] a:nth-child(5n+5) {
  margin-right: 0;
}
.index-page .categories-block a {
  width: 314px;
  height: 172px;
  margin: 0 15px 16px 0;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  background-size: cover;
}
.index-page .categories-block a .name {
  position: relative;
  font-size: 20px;
  color: #fff;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
  background: rgba(59, 64, 87, 0.5);
  padding: 18px;
}
.index-page .collection-block {
  margin-bottom: 36px;
  display: block;
  background: url(/img/inline-banner.jpg);
  height: 270px;
  background-size: cover;
}
.index-page .products-block {
  padding-bottom: 80px;
}
.category-page {
  padding-bottom: 50px;
}
.category-page .categories-block {
  height: 58px;
  background: #F9F9F9;
  display: flex;
  line-height: 58px;
  margin-bottom: 33px;
}
.category-page .categories-block .caption {
  background: #FF4040;
  color: #fff;
  font-weight: bold;
  width: 236px;
  padding-left: 34px;
}
.category-page .categories-block nav {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  padding: 0 39px;
}
.category-page .categories-block nav a {
  border-bottom: 4px transparent solid;
  transition: .2s;
}
.category-page .categories-block nav a.selected {
  font-weight: bold;
  border-bottom-color: #ff4040;
}
.category-page .categories-block nav a:hover {
  border-bottom-color: #ff4040;
}
.category-page .mobile-filter {
  display: none;
}
.category-page .filter-block {
  display: flex;
  padding-left: 34px;
  margin-bottom: 25px;
  padding-right: 14px;
  flex-wrap: wrap;
}
.category-page .filter-block .filter-item {
  margin-right: 20px;
}
.category-page .filter-block .filter-item .name {
  font-size: 14px;
  color: #828594;
  line-height: 22px;
  margin-bottom: 8px;
}
.category-page .colors-block {
  padding: 0 54px 0 34px;
}
.category-page .colors-block.compact {
  position: relative;
  border-right: #fff 20px solid;
}
.category-page .colors-block.compact .colors {
  overflow: hidden;
  height: 38px;
}
.category-page .colors-block.compact .expand-btn {
  display: flex;
}
.category-page .colors-block .expand-btn {
  position: absolute;
  right: 34px;
  top: 2px;
  font-size: 43px;
  line-height: 20px;
  font-weight: 500;
  color: #FF4040;
  display: none;
  width: 20px;
  height: 34px;
  background: #fff;
  align-items: center;
  justify-content: center;
}
.category-page .colors-block .colors {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  padding: 2px;
  justify-content: center;
}
.category-page .colors-block .colors li {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  margin: 0 13px 13px 0;
  border: 3px solid #FFFFFF;
  transition: .2s;
  cursor: pointer;
}
.category-page .colors-block .colors li:hover,
.category-page .colors-block .colors li.selected {
  box-shadow: #3B4057 0 0 0 2px;
}
.category-page .colors-block .colors li:active {
  transform: scale(0.9);
}
.category-page .colors-block .colors li.white {
  box-shadow: inset #979797 0 0 0 1px;
}
.category-page .colors-block .colors li.white:hover {
  box-shadow: #3B4057 0 0 0 2px, inset #979797 0 0 0 1px;
}
.category-page .set-filter-btn {
  display: none;
}
.product-page {
  /*position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: #fff;
    height: 100vh;
    width: 100%;*/
}
.product-page .product-page-wr {
  /*overflow-y: auto;
        height: 100%;*/
}
.product-page header {
  height: 68px;
}
.product-page .product-page-layout {
  display: flex;
  padding: 0 68px;
  margin: 0 auto;
  position: relative;
  justify-content: center;
}
.product-page .product-page-layout .product-name {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 8px;
}
.product-page .product-page-layout .category {
  display: block;
  font-size: 12px;
  color: #A6AABD;
  text-transform: uppercase;
  margin-bottom: 17px;
}
.product-page .product-page-layout .prev,
.product-page .product-page-layout .next {
  width: 68px;
  display: flex;
  height: calc(100vh - 68px);
  justify-content: center;
  position: absolute;
  padding-top: 280px;
  top: 0;
}
.product-page .product-page-layout .prev:hover:after,
.product-page .product-page-layout .next:hover:after {
  border-top-color: #3B4057;
  border-left-color: #3B4057;
}
.product-page .product-page-layout .prev:after,
.product-page .product-page-layout .next:after {
  content: '';
  display: block;
  border-top: 3px solid #FF4040;
  border-left: 3px solid #FF4040;
  width: 25px;
  position: relative;
  height: 25px;
  transition: .2s;
}
.product-page .product-page-layout .prev.prev,
.product-page .product-page-layout .next.prev {
  left: 0;
}
.product-page .product-page-layout .prev.prev:after,
.product-page .product-page-layout .next.prev:after {
  transform: rotate(-45deg);
  left: 5px;
}
.product-page .product-page-layout .prev.next,
.product-page .product-page-layout .next.next {
  right: 0;
}
.product-page .product-page-layout .prev.next:after,
.product-page .product-page-layout .next.next:after {
  transform: rotate(135deg);
  left: -5px;
}
.product-page .product-page-layout .left-block {
  width: calc(100% - 470px);
  margin-right: 30px;
  max-width: 600px;
}
.product-page .product-page-layout .left-block .badges {
  font-size: 0;
}
.product-page .product-page-layout .left-block .photo-wr {
  height: 498px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 28px;
}
.product-page .product-page-layout .left-block .photo-wr img {
  max-width: 100%;
  max-height: 100%;
}
.product-page .product-page-layout .right-block {
  width: 450px;
  padding-top: 23px;
}
.product-page .product-page-layout .right-block .price-block {
  margin-bottom: 9px;
}
.product-page .product-page-layout .right-block .price-block .price {
  font-size: 32px;
  font-weight: bold;
  margin-right: 14px;
}
.product-page .product-page-layout .right-block .price-block .price:after {
  margin-left: 2px;
  font-size: 26px;
}
.product-page .product-page-layout .right-block .price-block .old-price {
  font-size: 18px;
  color: #888DA6;
  font-weight: 600;
  position: relative;
}
.product-page .product-page-layout .right-block .price-block .old-price:before {
  content: '';
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  background: #FF4040;
  left: 0;
  top: 50%;
}
.product-page .product-page-layout .right-block .articul {
  font-size: 12px;
  color: #A6AABD;
  margin-bottom: 19px;
}
.product-page .product-page-layout .right-block .add-to-cart-btn {
  display: block;
  width: 280px;
  text-align: center;
  padding: 0;
  margin-bottom: 32px;
}
.product-page .product-page-layout .right-block .params {
  font-size: 14px;
  margin-bottom: 19px;
}
.product-page .product-page-layout .right-block .params li {
  margin-bottom: 17px;
  display: flex;
}
.product-page .product-page-layout .right-block .params li.hidden {
  display: none;
}
.product-page .product-page-layout .right-block .params li .n {
  width: 83px;
  margin-right: 9px;
}
.product-page .product-page-layout .right-block .params li .v {
  font-weight: 600;
}
.product-page .product-page-layout .right-block .params li .v .sizes-table-link {
  font-weight: normal;
  position: relative;
  border-bottom: 1px dotted #FF4040;
  margin-left: 17px;
  padding-bottom: 2px;
  transition: .2s;
}
.product-page .product-page-layout .right-block .params li .v .sizes-table-link:hover {
  color: #FF4040;
}
.product-page .product-page-layout .right-block .params li .v .season-icon {
  width: 14px;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -1px;
  margin-right: 3px;
}
.product-page .product-page-layout .right-block .params li .v .season-icon.winter {
  background: url(/img/icons/icon_season_winter.svg);
}
.product-page .product-page-layout .right-block .params li .v .season-icon.spring {
  background: url(/img/icons/icon_season_spring.svg);
}
.product-page .product-page-layout .right-block .params li .v .season-icon.summer {
  background: url(/img/icons/icon_season_summer.svg);
}
.product-page .product-page-layout .right-block .params li .v .season-icon.fall {
  background: url(/img/icons/icon_season_fall.svg);
}
.product-page .product-page-layout .right-block .all-params-link {
  border-bottom: 1px dotted #FF4040;
  position: relative;
  margin-left: 17px;
  padding-bottom: 1px;
  margin-bottom: 28px;
  display: inline-block;
  transition: .2s;
}
.product-page .product-page-layout .right-block .all-params-link:hover {
  color: #FF4040;
}
.product-page .product-page-layout .right-block .all-params-link:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 7px;
  border-color: transparent transparent transparent #3b4057;
  position: absolute;
  top: 5px;
  left: -17px;
}
.product-page .product-page-layout .right-block .descr {
  font-size: 14px;
  line-height: 24px;
}
.product-page .product-page-layout .variants-wr {
  padding: 0 28px;
  margin-bottom: 24px;
}
.product-page .product-page-layout .variants-wr .variants .variant {
  cursor: pointer;
  width: 87px;
  text-align: center;
}
.product-page .product-page-layout .variants-wr .variants .variant:hover .photo-wr {
  border-color: #FF4040;
}
.product-page .product-page-layout .variants-wr .variants .variant .photo-wr {
  width: 87px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 9px;
  border: 2px solid transparent;
  padding: 3px;
}
.product-page .product-page-layout .variants-wr .variants .variant .photo-wr img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.product-page .product-page-layout .variants-wr .variants .slick-prev,
.product-page .product-page-layout .variants-wr .variants .slick-next {
  top: 30px;
}
.product-page .prefs {
  background: #F9F9F9;
  max-width: 466px;
  padding: 24px 29px 8px;
  margin: 0 auto;
}
.product-page .prefs li {
  font-size: 12px;
  margin-bottom: 12px;
  display: flex;
  line-height: 1.6;
}
.product-page .prefs li .icon-wr {
  text-align: center;
  margin-right: 10px;
  width: 11px;
}
.order-page {
  padding-bottom: 50px;
}
.order-page h1 {
  padding-left: 34px;
}
.order-page .products-table li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 25px;
}
.order-page .products-table li:nth-child(2n+2) {
  background: #F9F9F9;
}
.order-page .products-table li .left-block,
.order-page .products-table li .right-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.order-page .products-table li .photo-wr {
  width: 105px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 13px;
  flex-direction: column;
}
.order-page .products-table li .photo-wr img {
  max-width: 100%;
  max-height: 100%;
}
.order-page .products-table li .photo-wr .size {
  font-size: 12px;
  color: #888DA6;
  text-transform: uppercase;
  margin-top: 13px;
}
.order-page .products-table li .photo-wr .size .value {
  color: #FF4040;
  display: inline-block;
  margin-left: 8px;
}
.order-page .products-table li .product-info {
  margin-right: 18px;
  width: 218px;
}
.order-page .products-table li .product-info .category {
  display: block;
  font-size: 12px;
  color: #A6AABD;
  margin-bottom: 9px;
  text-transform: uppercase;
}
.order-page .products-table li .product-info .name {
  display: block;
  font-size: 16px;
  margin-bottom: 12px;
}
.order-page .products-table li .product-info .articul {
  font-size: 12px;
  color: #888DA6;
}
.order-page .products-table li .amount-selector {
  display: flex;
  align-items: center;
  justify-content: center;
}
.order-page .products-table li .amount-selector .minus,
.order-page .products-table li .amount-selector .plus {
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
}
.order-page .products-table li .amount-selector .minus:before,
.order-page .products-table li .amount-selector .plus:before {
  content: '';
  display: block;
  height: 4px;
  width: 20px;
  background: #FF4040;
  position: absolute;
  left: 10px;
  top: calc(50% - 2px);
  transition: .2s;
}
.order-page .products-table li .amount-selector .minus:hover:before,
.order-page .products-table li .amount-selector .plus:hover:before,
.order-page .products-table li .amount-selector .minus:hover:after,
.order-page .products-table li .amount-selector .plus:hover:after {
  background: #3B4057;
}
.order-page .products-table li .amount-selector .plus:after {
  content: '';
  display: block;
  height: 20px;
  width: 4px;
  background: #FF4040;
  position: absolute;
  left: calc(50% - 2px);
  top: 10px;
  transition: .2s;
}
.order-page .products-table li .amount-selector input {
  width: 106px;
  text-align: center;
}
.order-page .products-table li .sum-block {
  width: 185px;
  margin-left: 54px;
}
.order-page .products-table li .sum-block .price {
  font-size: 24px;
  color: #3B4057;
  font-weight: bold;
  margin-right: 8px;
}
.order-page .products-table li .sum-block .old-price {
  font-size: 18px;
  color: #888DA6;
  font-weight: 600;
}
.order-page .products-table li .remove {
  display: inline-block;
  padding-right: 16px;
}
.order-page .products-table li .remove .icon {
  color: #FF4040;
}
.order-page .products-table li .remove .icon:before {
  font-weight: 900;
}
.order-page .summary-block {
  text-align: center;
  padding: 29px 0 36px;
}
.order-page .summary-block .info {
  margin-bottom: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.order-page .summary-block .info .sum-wr {
  display: flex;
  align-items: center;
}
.order-page .summary-block .info .discount-wr {
  margin-left: 7px;
  display: flex;
  align-items: center;
}
.order-page .summary-block .info .sum {
  font-size: 24px;
  color: #3B4057;
  font-weight: bold;
  margin-left: 9px;
  position: relative;
  top: -2px;
}
.order-page .summary-block .info .badge {
  margin-left: 7px;
  margin-right: 7px;
}
.order-page .summary-block .summary {
  font-size: 18px;
  font-weight: 600;
}
.order-page .summary-block .summary .sum {
  color: #FF4040;
  font-size: 32px;
  font-weight: bold;
  margin-left: 5px;
  position: relative;
  top: 3px;
}
.order-page .summary-block .summary .sum:after {
  color: #3B4057;
  font-size: 28px;
  margin-left: -7px;
  top: 3px;
}
.order-page .block-title {
  font-size: 24px;
  font-weight: 600;
}
.order-page .delivery-payment-block {
  background: #F9F9F9;
  text-align: center;
  padding: 40px 0 60px;
}
.order-page .delivery-payment-block .block:not(:last-child) {
  margin-bottom: 58px;
}
.order-page .delivery-payment-block .block .block-title {
  margin-bottom: 24px;
}
.order-page .delivery-payment-block .block .block-title .info {
  color: #FF4040;
  font-size: 19px;
  margin-left: -25px;
  position: relative;
  left: 30px;
  top: 3px;
}
.order-page .delivery-payment-block .block label {
  font-size: 16px;
  margin: 0 19px;
}
.order-page .delivery-payment-block .block label .cards {
  vertical-align: middle;
  margin-left: 13px;
}
.order-page .customer-block {
  max-width: 776px;
  margin: 0 auto;
  padding: 39px 0;
}
.order-page .customer-block .block-title {
  margin-bottom: 40px;
  text-align: center;
}
.order-page .customer-block .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 34px;
  padding-top: 10px;
}
.order-page .customer-block .bottom .summary {
  font-size: 18px;
  margin-right: 37px;
  position: relative;
  top: -4px;
}
.order-page .customer-block .bottom .summary .sum {
  font-size: 32px;
  font-weight: bold;
  margin-left: 11px;
  position: relative;
  top: 3px;
}
.order-page .customer-block .bottom .btn {
  padding: 0 24px;
}
.order-page .customer-block .disclaimer {
  color: #888DA6;
  text-align: center;
  width: 604px;
  margin: 0 auto;
  line-height: 1.5;
}
.order-final .page-wr {
  max-width: 640px;
  margin: 0 auto;
  padding-top: 103px;
}
.order-final .page-wr .page-title {
  text-align: center;
  margin-bottom: 45px;
}
.order-final .page-wr .params {
  margin-bottom: 19px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 180px;
}
.order-final .page-wr .params .param {
  font-size: 16px;
  margin-bottom: 20px;
  width: 339px;
  height: 22px;
  display: flex;
  align-items: center;
}
.order-final .page-wr .params .param .n {
  display: inline-block;
  margin-right: 22px;
}
.order-final .page-wr .params .param .v {
  font-weight: 500;
}
.order-final .page-wr .params .param .v .sum {
  font-size: 22px;
  font-weight: bold;
}
.order-final .page-wr .to-shop-link {
  display: block;
  margin: 0 auto;
  width: 302px;
  padding: 0;
}
.about-page .page-title {
  padding-left: 34px;
}
.about-page .contacts-list {
  padding-left: 34px;
  display: flex;
  margin-bottom: 33px;
  padding-top: 20px;
}
.about-page .contacts-list li {
  display: flex;
  align-items: flex-start;
  font-size: 16px;
  margin-right: 41px;
}
.about-page .contacts-list li img {
  margin-right: 18px;
}
.about-page .contacts-list li img.icon-mail {
  position: relative;
  top: 4px;
}
.about-page .map {
  height: 337px;
  margin-bottom: 40px;
}
.about-page .about-text {
  padding-left: 34px;
  margin-bottom: 40px;
}
.about-page .about-photo {
  height: 362px;
  background: url('/img/about.jpg');
  background-size: cover;
  background-position: center;
  margin-bottom: 60px;
}
.about-page .feedback-form {
  max-width: 776px;
  margin: 0 auto 50px;
}
.about-page .feedback-form .title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  max-width: 370px;
  margin: 0 auto 40px;
}
.about-page .feedback-form button {
  padding: 0;
  display: block;
  margin: 35px auto 36px;
  width: 248px;
}
.about-page .feedback-form .disclaimer {
  font-size: 14px;
  color: #888DA6;
  width: 604px;
  margin: 0 auto;
  text-align: center;
}
.delivery-page {
  padding-bottom: 40px;
  padding-left: 34px;
}
.delivery-page .page-title {
  margin-bottom: 19px;
}
.delivery-page .h2 {
  margin-top: 27px;
}
.delivery-page .delivery-companies {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 879px;
  padding: 18px 11px 43px 6px;
}
.delivery-page .payment-methods {
  display: flex;
  padding: 22px 0 20px 7px;
  align-items: center;
}
.delivery-page .payment-methods li {
  font-size: 18px;
  margin-right: 50px;
  display: flex;
  align-items: center;
}
.delivery-page .payment-methods li img {
  margin-right: 22px;
}
.delivery-page .pay-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-right: 27px;
}
.delivery-page .pay-wrap .text-block {
  width: 533px;
  padding-right: 5px;
}
.delivery-page .pay-wrap .mnm {
  background: #F9F9F9;
  width: 391px;
  padding: 5px 32px;
  margin-top: 67px;
}
.delivery-page .pay-wrap .mnm .card {
  margin-bottom: 21px;
}
.delivery-page .pay-wrap .mnm ul {
  margin-bottom: 25px;
}
.delivery-page img.cards {
  margin: 8px 0 23px 0;
}
.fullsize-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 100;
}
.fullsize-popup.search-popup {
  transition: .25s;
  transform-origin: top center;
}
.fullsize-popup.search-popup:not(.opened) {
  opacity: 0;
  transform: perspective(100px) rotateX(-90deg);
}
.fullsize-popup .popup-close-btn {
  width: 68px;
  background: #FF4040;
  height: 68px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: -3px;
  margin-top: -5px;
  position: relative;
  z-index: 10;
}
.fullsize-popup .popup-close-btn img {
  width: 34px;
}
.fullsize-popup .search-form {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transform: translateX(-50%);
  max-width: 944px;
  padding: 0 20px 100px;
}
.fullsize-popup .search-form .title {
  margin-bottom: 19px;
}
.fullsize-popup .search-form .input-wr {
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.fullsize-popup .search-form input {
  width: calc(100% - 60px);
  height: 58px;
  font-size: 26px;
}
.fullsize-popup .search-form button {
  position: relative;
  padding: 0;
  width: 58px;
  height: 58px;
  font-size: 30px;
  left: -1px;
  line-height: 1;
}
.sizes-table-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  display: none;
}
.sizes-table-popup .popup-wr2 {
  display: flex;
  height: 100%;
  align-items: center;
  background: rgba(255, 255, 255, 0.9);
  justify-content: center;
}
.sizes-table-popup .popup-wr {
  background: #F9F9F9;
  margin: 0 auto;
  position: relative;
  width: auto;
}
.sizes-table-popup .popup-wr:after {
  content: '';
  height: 6px;
  position: absolute;
  width: 90%;
  left: 5%;
  bottom: 2px;
  box-shadow: 0 12px 74px 0 rgba(0, 0, 0, 0.8);
  background: #F9F9F9;
  z-index: 1;
}
.sizes-table-popup .popup-wr .head {
  position: relative;
  margin-bottom: 26px;
  padding-top: 29px;
}
.sizes-table-popup .popup-wr .head .title {
  font-size: 20px;
  text-align: center;
  font-weight: 600;
}
.sizes-table-popup .popup-wr .head .close {
  position: absolute;
  top: 14px;
  right: 14px;
  color: #FF4040;
  font-size: 29px;
  cursor: pointer;
}
.sizes-table-popup .popup-wr .table {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
}
.sizes-table-popup .popup-wr .table .col {
  text-align: center;
}
.sizes-table-popup .popup-wr .table .col:first-child .v {
  padding: 10.4px 38px 10.4px 60px;
}
.sizes-table-popup .popup-wr .table .col:last-child .v {
  padding: 10.4px 60px 10.4px 38px;
}
.sizes-table-popup .popup-wr .table .col .v {
  padding: 10.4px 38px;
  font-size: 16px;
  font-weight: 500;
}
.sizes-table-popup .popup-wr .table .col .v:nth-child(2n+2) {
  background: #fff;
}
.sizes-table-popup .popup-wr .table .col .v.h {
  font-weight: 600 !important;
  padding-bottom: 15px;
}
.sizes-table-popup .popup-wr .hand {
  display: none;
}
.sizes-table-popup .popup-wr .btn.close {
  display: none;
}
@font-face {
  font-family: PTRoubleSans;
  src: url("fonts/PTRoubleSans.eot");
  src: url("fonts/PTRoubleSans.eot?#iefix") format("embedded-opentype"), url("fonts/PTRoubleSans.woff2") format("woff2"), url("fonts/PTRoubleSans.woff") format("woff"), url("fonts/PTRoubleSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.main_content_padding {
  padding-left: 34px;
}
.inline-middle {
  display: inline-block;
  vertical-align: middle;
}
.inline-top {
  display: inline-block;
  vertical-align: top;
}
.posrel {
  position: relative;
}
.posabs {
  position: absolute;
}
.fullsize {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.375;
  color: #3B4057;
  font-size: 14px;
  max-width: 1920px;
  min-width: 320px;
  /**
        САЙДБАР
     */
}
body > aside {
  width: 330px;
  background: #3B4057;
  color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  height: 100vh;
}
body > aside.scrolled .sidebar .top .default-top {
  opacity: 0;
  transform: translateY(-143px);
  transition-delay: unset;
}
body > aside.scrolled .sidebar .top .scrolled-top {
  opacity: 1;
  transform: translateY(0);
  transition-delay: .5s;
}
body > aside .icon {
  transition: .2s;
}
body > aside .icon-icon-all {
  color: #fff;
}
body > aside .icon-icon-01 {
  color: #FF4040;
}
body > aside .icon-icon-02 {
  color: #4AA3FF;
}
body > aside .icon-icon-03 {
  color: #35B556;
}
body > aside .icon-icon-04 {
  color: #2DC8A8;
}
body > aside .icon-icon-05 {
  color: #ED2A7B;
}
body > aside .icon-icon-06 {
  color: #AD40FF;
  font-size: 21px;
}
body > aside .mobile-sidebar {
  display: none;
}
body > aside .sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  height: auto;
  min-height: 100%;
}
body > aside .sidebar .top {
  height: 143px;
  position: relative;
  margin-bottom: 20px;
}
body > aside .sidebar .top .default-top,
body > aside .sidebar .top .scrolled-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body > aside .sidebar .top .default-top {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  transition: .5s;
  transition-delay: .5s;
}
body > aside .sidebar .top .default-top .logo {
  text-align: center;
  margin-bottom: 6px;
}
body > aside .sidebar .top .scrolled-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-143px);
  opacity: 0;
  transition: .5s;
}
body > aside .sidebar .top .scrolled-top .icon {
  transition: .2s;
  display: inline-block;
  cursor: pointer;
}
body > aside .sidebar .top .scrolled-top .cart {
  text-align: center;
  color: #fff;
  display: block;
  transition: .2s;
  width: 89px;
  padding-top: 7px;
}
body > aside .sidebar .top .scrolled-top .cart:hover .icon {
  color: #FF4040;
}
body > aside .sidebar .top .scrolled-top .cart:hover .sum {
  color: #fff;
}
body > aside .sidebar .top .scrolled-top .cart .icon {
  display: block;
  font-size: 18px;
}
body > aside .sidebar .top .scrolled-top .cart .sum {
  font-weight: 600;
  display: block;
  margin-top: -2px;
  font-size: 14px;
  color: #A6AABD;
  transition: .2s;
}
body > aside .sidebar .top .scrolled-top .cart .sum:after {
  top: 4px;
  margin-left: -4px;
  font-size: 18px;
  left: 6px;
}
body > aside .sidebar .top .scrolled-top .icon-search {
  font-size: 24px;
  width: 89px;
  text-align: center;
  margin-top: -7px;
}
body > aside .sidebar .top .scrolled-top .icon-search:hover {
  color: #FF4040;
}
body > aside .sidebar .top .mobile-top {
  display: none;
}
body > aside .sidebar .links .categories {
  margin-bottom: 49px;
}
body > aside .sidebar .links .categories a {
  height: 53px;
  display: flex;
  align-items: center;
  font-size: 16px;
  transition: .2s;
}
body > aside .sidebar .links .categories a.selected,
body > aside .sidebar .links .categories a:hover {
  background: #FF4040;
}
body > aside .sidebar .links .categories a.selected .icon-wr span,
body > aside .sidebar .links .categories a:hover .icon-wr span {
  color: #fff;
}
body > aside .sidebar .links .categories a:hover .icon-wr .icon {
  color: #fff;
}
body > aside .sidebar .links .categories a .icon-wr {
  width: 117px;
  text-align: right;
  margin-right: 20px;
}
body > aside .sidebar .links .pages {
  padding-top: 9px;
}
body > aside .sidebar .links .pages a {
  margin: 20px 0;
  justify-content: center;
  display: block;
  text-align: center;
  padding: 0 10px;
  color: #888DA6;
  font-weight: 600;
}
body > aside .sidebar .links .pages a:hover {
  color: #fff;
}
body > aside .sidebar footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 74px;
}
body > aside .sidebar footer .sn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
body > aside .sidebar footer .sn a {
  color: #808BBD;
  font-size: 21px;
  margin: 0 9px;
  background: transparent !important;
}
body > aside .sidebar footer .sn a .icon-icon-yt {
  font-size: 23px;
}
body > aside .sidebar footer .sn a:hover {
  color: #fff;
}
body > aside .sidebar footer .phone {
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 17px;
}
body > aside .sidebar footer .opt {
  padding-right: 7px;
  display: flex;
  align-items: center;
  margin-bottom: 23px;
}
body > aside .sidebar footer .opt:hover {
  color: #FF4040;
}
body > aside .sidebar footer .opt .icon {
  margin-right: 12px;
  display: inline-block;
  color: #FF4040;
  position: relative;
  top: 1px;
}
body > aside .sidebar footer .copy {
  color: #808BBD;
}
body > aside .sidebar footer .copy a {
  color: #808BBD;
  margin-left: 12px;
}
body > aside a {
  color: #fff;
}
body > .main-content {
  width: calc(100% - 330px);
  margin-left: 330px;
}
body header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  height: 68px;
}
body header .left-block,
body header .right-block {
  display: flex;
  align-items: center;
}
body header .right-block {
  padding-right: 33px;
}
body header .logo {
  display: none;
}
body header .logo .logo-mobile {
  display: none;
}
body header .search-icon {
  padding: 0 42px 0 43px;
  cursor: pointer;
  font-size: 24px;
  color: #FF4040;
  transition: .2s;
}
body header .search-icon:hover {
  color: #3B4057;
}
body header .phone {
  font-weight: bold;
  font-size: 20px;
  margin-right: 30px;
}
body header .phone .icon {
  display: none;
}
body header .main-menu {
  display: flex;
  margin-right: 1px;
}
body header .main-menu a {
  font-weight: 600;
}
body header .main-menu a:not(:last-child) {
  margin-right: 23px;
  border-right: 1px solid #FF4040;
  padding-right: 21px;
}
body header .main-menu a:hover {
  color: #FF4040;
}
body header .discount-link {
  font-size: 12px;
  margin-right: 30px;
  display: flex;
  align-items: center;
}
body header .discount-link:hover {
  color: #FF4040;
}
body header .discount-link .badge {
  background: #ED2A7B;
  margin-right: 13px;
}
body header .cart {
  display: flex;
  align-items: center;
  position: relative;
  top: -4px;
}
body header .cart:hover .icon {
  color: #3B4057;
}
body header .cart:hover .sum {
  color: #FF4040;
}
body header .cart .icon {
  font-size: 22px;
  position: relative;
  top: 2px;
  margin-right: 8px;
  color: #FF4040;
  transition: .2s;
}
body header .cart .sum {
  font-size: 18px;
  font-weight: bold;
  transition: .2s;
}
body header .cart .sum:after {
  font-size: 21px;
}
body header .open-mobile-menu {
  display: none;
}
a {
  text-decoration: none;
  color: #3B4057;
  transition: .2s color;
}
.container {
  width: 100%;
  position: relative;
  margin: 0 auto;
}
@media screen and (max-width: 1279px) {
  .index-page .top-block .c {
    top: 53px;
    left: 36px;
  }
  .index-page .categories-block {
    padding-left: 24px;
  }
  .index-page .categories-block a {
    width: 297px;
    margin: 0 14px 16px 0;
  }
}
@media screen and (max-width: 1279px) {
  .products-mesh {
    padding: 24px 0 6px 24px;
  }
  .products-mesh .product-cart {
    margin: 0 15px 33px 0;
  }
  .products-mesh .collection-block {
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 1279px) {
  .category-page .categories-block .caption {
    display: none;
  }
  .category-page .filter-block {
    padding-left: 24px;
  }
  .category-page .colors-block {
    padding-left: 24px;
  }
  .category-page .colors-block.compact {
    border-right: #fff 12px solid;
  }
  .category-page .products-mesh {
    padding-top: 35px;
  }
}
@media screen and (max-width: 1279px) {
  .product-page {
    width: 1024px;
  }
  .product-page header .close-btn {
    margin-right: -12px;
  }
  .product-page .product-page-layout .left-block {
    width: 447px;
    margin-right: 43px;
  }
  .product-page .product-page-layout .left-block .photo-wr {
    height: 352px;
  }
  .product-page .product-page-layout .right-block {
    width: 398px;
  }
  .product-page .product-page-layout .right-block .product-name {
    font-size: 28px;
    margin-bottom: 10px;
  }
  .product-page .product-page-layout .right-block .add-to-cart-btn {
    width: 259px;
    margin-bottom: 26px;
  }
  .product-page .product-page-layout .right-block .all-params-link {
    margin-bottom: 24px;
  }
  .product-page .product-page-layout .right-block .variants-wr {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1279px) {
  .order-page .page-title {
    padding-left: 25px;
  }
  .order-page .products-table li .photo-wr {
    width: 96px;
  }
  .order-page .products-table li .product-info {
    margin-right: 48px;
  }
  .order-page .products-table li .sum-block {
    width: 172px;
    margin-left: 50px;
  }
  .order-page .products-table li .remove {
    padding-right: 11px;
    font-size: 0;
  }
  .order-page .products-table li .remove .icon {
    font-size: 23px;
  }
}
@media screen and (max-width: 1279px) {
  .order-final .page-wr {
    max-width: 735px;
    padding-left: 57px;
  }
}
@media screen and (max-width: 1279px) {
  .about-page .page-title {
    padding-left: 40px;
  }
  .about-page .contacts-list {
    padding-left: 40px;
  }
  .about-page .contacts-list li {
    margin-right: 39px;
  }
  .about-page .contacts-list li.address {
    width: 437px;
    margin-right: 0;
  }
}
@media screen and (max-width: 1279px) {
  .delivery-page {
    padding: 0 40px;
  }
  .delivery-page .pay-wrap {
    padding-right: 51px;
  }
  .delivery-page .pay-wrap .text-block {
    width: 443px;
  }
}
@media screen and (max-width: 1279px) {
  body > aside {
    width: 56px;
  }
  body > aside.scrolled .mobile-sidebar .search-cart {
    opacity: 1;
  }
  body > aside.opened .sidebar {
    left: 56px;
  }
  body > aside.opened .mobile-sidebar {
    background: #FF4040;
  }
  body > aside.opened .mobile-sidebar .categories {
    display: none;
  }
  body > aside.opened .mobile-sidebar .sn {
    display: flex;
  }
  body > aside.opened .mobile-sidebar .open-menu-icon {
    display: none;
  }
  body > aside.opened .mobile-sidebar .close-menu-icon {
    display: block;
  }
  body > aside .sidebar {
    position: fixed;
    top: 0;
    width: 270px;
    background: #3B4057;
    left: -214px;
    transition: .2s;
  }
  body > aside .sidebar .top {
    height: 116px;
  }
  body > aside .sidebar .top .default-top {
    padding-top: 25px;
    opacity: 1 !important;
    transform: none !important;
  }
  body > aside .sidebar .top .default-top .logo {
    margin-bottom: 6px;
  }
  body > aside .sidebar .top .default-top .logo img {
    width: 119px;
  }
  body > aside .sidebar .top .scrolled-top {
    display: none !important;
  }
  body > aside .sidebar .links {
    margin-bottom: 35px;
  }
  body > aside .sidebar .links .categories {
    margin-bottom: 6px;
  }
  body > aside .sidebar .links .categories a .icon-wr {
    width: 87px;
  }
  body > aside .sidebar footer .sn {
    display: none;
  }
  body > aside .mobile-sidebar {
    display: flex;
    z-index: 2;
    position: relative;
    background: #3B4057;
    transition: .2s;
    height: 100%;
    flex-direction: column;
    padding-bottom: 28px;
    justify-content: space-between;
  }
  body > aside .mobile-sidebar .open-menu-icon {
    cursor: pointer;
    padding: 22px 0;
  }
  body > aside .mobile-sidebar .open-menu-icon i {
    display: block;
    width: 20px;
    height: 3px;
    margin: 0 auto;
    background: #fff;
  }
  body > aside .mobile-sidebar .open-menu-icon i:not(:last-child) {
    margin-bottom: 7px;
  }
  body > aside .mobile-sidebar .close-menu-icon {
    width: 100%;
    text-align: center;
    font-size: 19px;
    padding: 21px 0;
    display: none;
    cursor: pointer;
  }
  body > aside .mobile-sidebar .categories {
    margin-top: 65px;
    margin-bottom: 50px;
  }
  body > aside .mobile-sidebar .categories a {
    display: block;
    text-align: center;
    padding: 14px 0;
    font-size: 16px;
    transition: .2s;
  }
  body > aside .mobile-sidebar .categories a:hover,
  body > aside .mobile-sidebar .categories a .selected {
    background: #FF4040;
  }
  body > aside .mobile-sidebar .categories a:hover span,
  body > aside .mobile-sidebar .categories a .selected span {
    color: #fff;
  }
  body > aside .mobile-sidebar .sn {
    color: #fff;
    display: none;
    flex-direction: column;
    align-items: center;
    font-size: 21px;
    margin-top: 129px;
  }
  body > aside .mobile-sidebar .sn a {
    padding: 17px 0;
  }
  body > aside .mobile-sidebar .search-cart {
    opacity: 0;
    transition: .2s;
  }
  body > aside .mobile-sidebar .search-cart .icon-search {
    font-size: 23px;
    text-align: center;
    display: block;
    margin-bottom: 86px;
  }
  body > aside .mobile-sidebar .search-cart .cart .sum {
    transform: rotate(-90deg);
    display: block;
    font-size: 16px;
    font-weight: 600;
  }
  body > aside .mobile-sidebar .search-cart .cart .icon {
    display: block;
    text-align: center;
    padding-top: 31px;
    font-size: 20px;
    color: #FF4040;
  }
  body > .main-content {
    width: calc(100% - 56px);
    margin-left: 56px;
  }
  body header .logo {
    display: block;
    padding: 0 9px 0 41px;
  }
  body header .logo .logo-min {
    display: none;
  }
  body header .main-menu {
    display: none;
  }
  body header .discount-block {
    margin-right: 64px;
  }
}
@media screen and (max-width: 1023px) {
  .index-page .top-block {
    height: 450px;
  }
  .index-page .top-block .c {
    top: 22px;
    left: 29px;
  }
  .index-page .top-block .c .t {
    font-size: 23px;
    letter-spacing: 23.8px;
  }
  .index-page .top-block .c .year {
    font-weight: 900;
    margin: -22px 0 -24px;
    font-size: 118px;
  }
  .index-page .top-block .c .t2 {
    font-size: 20px;
    margin-bottom: 19px;
  }
  .index-page .top-block .c .btn {
    padding: 0 31px;
    line-height: 50px;
  }
  .index-page .categories-block {
    padding-top: 16px;
    padding-left: 16px;
  }
  .index-page .categories-block a {
    width: 220px;
    margin: 0 11px 16px 0;
    height: 127px;
  }
  .index-page .categories-block a .name {
    font-size: 16px;
    padding: 12px 5px;
  }
  .collection-block {
    height: 195px;
  }
}
@media screen and (max-width: 1023px) {
  .category-page .filter-block {
    flex-wrap: wrap;
    padding-left: 16px;
    padding-right: 16px;
  }
  .category-page .filter-block .filter-item {
    margin-bottom: 20px;
  }
  .category-page .colors-block .expand-btn {
    right: 0;
  }
}
@media screen and (max-width: 1023px) {
  .product-page {
    width: 768px;
  }
  .product-page .product-page-layout {
    display: block;
  }
  .product-page .product-page-layout .left-block {
    width: 100%;
    margin-right: 0;
    margin-bottom: 17px;
  }
  .product-page .product-page-layout .left-block .photo-wr {
    height: 319px;
    margin-bottom: 19px;
  }
  .product-page .product-page-layout .left-block .variants-wr {
    width: 491px;
    margin: 0 auto;
  }
  .product-page .product-page-layout .right-block {
    width: 100%;
  }
  .product-page .product-page-layout .right-block .info-wr {
    display: flex;
    align-items: flex-start;
  }
  .product-page .product-page-layout .right-block .info-wr .bl1 {
    width: 349px;
  }
  .product-page .product-page-layout .right-block .info-wr .bl2 {
    padding-top: 13px;
  }
  .product-page .prefs {
    width: 100%;
    margin-top: 32px;
    padding: 22px 68px 10px;
  }
}
@media screen and (max-width: 1023px) {
  .order-page {
    overflow: hidden;
  }
  .order-page .page-title {
    padding-left: 16px;
    margin-bottom: 18px;
  }
  .order-page .products-table {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 16px);
    padding-left: 16px;
  }
  .order-page .products-table li {
    background: #fff !important;
    width: 333px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14);
    flex-direction: column;
    height: 506px;
    position: relative;
    overflow: hidden;
    margin: 0 16px 16px 0;
  }
  .order-page .products-table li .left-block,
  .order-page .products-table li .right-block {
    flex-direction: column;
  }
  .order-page .products-table li .photo-wr {
    width: 100%;
    height: 212px;
    margin-top: 52px;
    margin-right: 0;
  }
  .order-page .products-table li .photo-wr .size {
    position: absolute;
    top: 27px;
    left: -6px;
    transform: rotate(-90deg);
    font-weight: 600;
  }
  .order-page .products-table li .photo-wr .size .value {
    position: absolute;
    transform: rotate(90deg);
    margin: 0;
    top: -1px;
    left: -20px;
  }
  .order-page .products-table li .product-info {
    margin-right: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 59px;
    height: 80px;
  }
  .order-page .products-table li .product-info .articul {
    position: absolute;
    bottom: 18px;
    width: 100%;
    left: 0;
    text-align: center;
  }
  .order-page .products-table li .discount-block {
    position: absolute;
    top: 20px;
  }
  .order-page .products-table li .sum-block {
    margin: 0;
    position: absolute;
    top: 345px;
    width: 100%;
    text-align: center;
    padding-left: 5px;
  }
  .order-page .products-table li .sum-block .price {
    margin-right: 0;
  }
  .order-page .products-table li .sum-block .old-price {
    position: absolute;
    margin: 7px 0 0 14px;
  }
  .order-page .products-table li .remove {
    top: -88px;
    right: -88px;
    font-size: 0;
    background: #FF4040;
    width: 156px;
    height: 156px;
    position: absolute;
    transition: .3s;
    border-radius: 50%;
  }
  .order-page .products-table li .remove .icon {
    font-size: 23px;
    color: #fff;
    position: absolute;
    top: 97px;
    left: 31px;
  }
  .order-page .summary-block {
    padding: 18px 0 31px;
  }
  .order-page .customer-block {
    width: 600px;
  }
}
@media screen and (max-width: 1023px) {
  .order-final .page-wr {
    width: 438px;
    padding-left: 63px;
    padding-top: 34px;
  }
  .order-final .page-wr .page-title {
    text-align: left;
  }
  .order-final .page-wr .params {
    height: auto;
  }
  .order-final .page-wr .params .param {
    width: 100%;
  }
}
@media screen and (max-width: 1023px) {
  .about-page .contacts-list {
    flex-wrap: wrap;
  }
  .about-page .contacts-list li {
    margin-right: 43px;
  }
  .about-page .contacts-list li.address {
    width: 540px;
    margin-top: 28px;
    margin-left: -2px;
  }
  .about-page .contacts-list li.address img {
    margin-right: 14px;
  }
  .about-page .map {
    height: 408px;
  }
  .about-page .feedback-form {
    max-width: 600px;
  }
}
@media screen and (max-width: 1023px) {
  .delivery-page {
    padding-left: 40px;
  }
  .delivery-page .delivery-companies {
    padding: 19px 11px 5px 0px;
    justify-content: flex-start;
  }
  .delivery-page .delivery-companies img {
    margin-right: 87px;
    margin-bottom: 34px;
  }
  .delivery-page .delivery-companies img:nth-child(3) {
    margin-right: 0;
  }
  .delivery-page .pay-wrap {
    padding-right: 0;
    margin-bottom: 30px;
    display: block;
  }
  .delivery-page .pay-wrap .text-block {
    width: 100%;
    padding-right: 0;
  }
  .delivery-page .pay-wrap .mnm {
    padding: 32px 32px 20px;
    margin-top: 30px;
    width: 100%;
  }
}
@media screen and (max-width: 1023px) {
  p {
    max-width: 641px;
  }
  .products-mesh {
    padding: 24px 0 6px 16px;
  }
  .products-mesh .product-cart {
    margin: 0 15px 33px 0;
  }
  .products-mesh .collection-block {
    margin-bottom: 16px;
  }
  .form .row .input-block {
    width: 290px;
  }
}
@media screen and (max-width: 1023px) {
  body > .main-content {
    margin-left: 56px;
  }
  body header .logo {
    display: block;
    padding: 0 0 0 36px;
    width: auto;
  }
  body header .logo .logo-min {
    display: block;
    width: 60px;
  }
  body header .logo .logo-wide {
    display: none;
  }
  body header .main-menu {
    display: none;
  }
  body header .phone {
    margin-right: 0;
  }
  body header .search-icon {
    padding: 0 22px 0 32px;
  }
  body header .discount-block {
    margin-right: 64px;
  }
  body header .right-block {
    padding-right: 23px;
  }
  body header .discount-link {
    margin-right: 29px;
  }
}
@media screen and (max-width: 767px) {
  .index-page .top-block {
    height: 208px;
    margin-bottom: 268px;
  }
  .index-page .top-block .c {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: center;
    padding-top: 28px;
    background: #fff;
    padding-bottom: 32px;
  }
  .index-page .top-block .c .t {
    font-size: 18px;
    letter-spacing: 18.62px;
  }
  .index-page .top-block .c .year {
    font-size: 93px;
    margin-bottom: -12px;
  }
  .index-page .top-block .c .t2 {
    font-size: 16px;
  }
  .index-page .top-block .c .btn {
    padding: 0 31px;
    line-height: 50px;
  }
  .index-page .categories-block {
    padding: 32px 20px;
  }
  .index-page .categories-block a {
    height: 165px;
    width: 100% !important;
    margin: 0 0 10px;
  }
  .index-page .categories-block a .name {
    padding: 18px 5px;
  }
  .index-page .collection-block {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .category-page .categories-block {
    overflow-x: auto;
  }
  .category-page .categories-block nav a {
    margin-right: 24px;
    text-align: center;
  }
  .category-page .category-filters {
    display: none;
  }
  .category-page .filter-block {
    flex-direction: column;
    padding: 0 20px;
    margin-bottom: 0px;
  }
  .category-page .filter-block .filter-item {
    margin-right: 0;
  }
  .category-page .filter-block .filter-item .dropdown-list {
    min-width: initial !important;
    width: 100% !important;
  }
  .category-page .mobile-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-bottom: 27px;
  }
  .category-page .mobile-filter .switch-filter-btn {
    background: #FFFFFF;
    border: 1px solid #828594;
    height: 40px;
    position: relative;
    cursor: pointer;
    padding-right: 20px;
    width: calc(100% - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 600;
  }
  .category-page .mobile-filter .switch-filter-btn:after {
    content: '';
    position: absolute;
    right: 15px;
    top: 16px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 5px 0 5px;
    border-color: #ff4040 transparent transparent transparent;
    transition: .2s;
  }
  .category-page .mobile-filter .switch-filter-btn.opened:after {
    border-width: 0 5px 7px 5px;
    border-color: transparent transparent #ff4040 transparent;
  }
  .category-page .mobile-filter .change-mode-wr {
    width: 40px;
    height: 40px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
  }
  .category-page .mobile-filter .change-mode-wr span {
    display: none;
  }
  .category-page .mobile-filter .change-mode-wr span.active {
    display: block;
  }
  .category-page .colors-block {
    padding: 0 20px 20px 20px;
  }
  .category-page .colors-block.compact {
    border: none;
    padding: 0 40px 20px 20px;
  }
  .category-page .colors-block .colors {
    justify-content: center;
  }
  .category-page .colors-block .colors li {
    margin: 0 18px 13px 0;
  }
  .category-page .colors-block .expand-btn {
    right: 20px;
  }
  .category-page .products-mesh {
    padding-top: 10px;
  }
  .category-page .set-filter-btn {
    margin: 10px auto 30px;
    display: block;
    width: 270px;
  }
}
@media screen and (max-width: 767px) {
  .product-page {
    width: 100%;
  }
  .product-page header {
    height: 71px;
    position: relative;
  }
  .product-page header .close-btn {
    position: absolute;
    left: 0;
    width: 71px;
    height: 71px;
    top: 0;
    margin: 0;
  }
  .product-page header .logo {
    display: none;
  }
  .product-page .product-page-layout {
    padding: 0 20px;
    position: relative;
  }
  .product-page .product-page-layout .name-wr {
    text-align: center;
    padding: 22px 0 0;
  }
  .product-page .product-page-layout .name-wr .product-name {
    font-size: 22px;
    line-height: 40px;
    margin-bottom: 5px;
  }
  .product-page .product-page-layout .name-wr .category {
    margin-bottom: 0;
  }
  .product-page .product-page-layout .prev,
  .product-page .product-page-layout .next {
    width: 33px;
    height: 240px;
    top: 102px;
    padding: 0;
    align-items: center;
  }
  .product-page .product-page-layout .prev:after,
  .product-page .product-page-layout .next:after {
    width: 15px;
    height: 15px;
  }
  .product-page .product-page-layout .variants-wr {
    padding: 0;
  }
  .product-page .product-page-layout .variants-wr .variants .slick-prev,
  .product-page .product-page-layout .variants-wr .variants .slick-next {
    display: none !important;
  }
  .product-page .product-page-layout .left-block {
    margin-bottom: 12px;
  }
  .product-page .product-page-layout .left-block .badges {
    display: flex;
    flex-direction: column;
    width: 50px;
    position: absolute;
    left: 0;
    top: 102px;
  }
  .product-page .product-page-layout .left-block .photo-wr {
    height: 259px;
  }
  .product-page .product-page-layout .left-block .variants-wr {
    width: 100%;
  }
  .product-page .product-page-layout .right-block .info-wr {
    flex-direction: column;
  }
  .product-page .product-page-layout .right-block .info-wr .bl1 {
    width: 100%;
    text-align: center;
  }
  .product-page .product-page-layout .right-block .add-to-cart-btn {
    width: 100%;
    margin: 23px 0 24px;
  }
}
@media screen and (max-width: 767px) {
  .order-page {
    overflow: hidden;
  }
  .order-page .page-title {
    padding-left: 20px;
    margin-bottom: 24px;
  }
  .order-page .products-table {
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
  }
  .order-page .products-table li {
    width: 100%;
    margin: 0 0 20px 0;
    height: 486px;
  }
  .order-page .products-table li .photo-wr {
    height: 192px;
  }
  .order-page .products-table li .product-info .articul {
    bottom: 20px;
  }
  .order-page .products-table li .sum-block {
    top: 324px;
  }
  .order-page .summary-block {
    padding: 9px 0 31px;
  }
  .order-page .summary-block .info {
    flex-direction: column;
    margin-bottom: 22px;
  }
  .order-page .summary-block .info .sum-wr {
    margin-bottom: 8px;
  }
  .order-page .delivery-payment-block {
    text-align: left;
    padding: 33px 51px 15px;
  }
  .order-page .delivery-payment-block .block:not(:last-child) {
    margin-bottom: 40px;
  }
  .order-page .delivery-payment-block .block label {
    margin: 0 0 24px;
    display: block;
  }
  .order-page .delivery-payment-block .block label .cards {
    margin: 12px 0 0 29px;
    display: block;
  }
  .order-page .customer-block {
    width: 100%;
    padding: 32px 20px;
  }
  .order-page .customer-block .block-title {
    margin-bottom: 33px;
    text-align: left;
  }
  .order-page .customer-block .bottom {
    flex-direction: column;
    padding: 0;
    margin: -8px 0 33px;
  }
  .order-page .customer-block .bottom .summary {
    margin: 0 0 20px;
  }
  .order-page .customer-block .bottom .btn {
    width: 100%;
  }
  .order-page .customer-block .disclaimer {
    width: 100%;
    line-height: 1.6;
    padding: 0 4px;
  }
}
@media screen and (max-width: 767px) {
  .order-final {
    padding-bottom: 50px;
  }
  .order-final .page-wr {
    width: 100%;
    padding: 0 20px;
  }
  .order-final .page-wr .page-title {
    margin-bottom: 26px;
  }
  .order-final .page-wr .params {
    height: auto;
  }
  .order-final .page-wr .params .param {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    height: auto;
  }
  .order-final .page-wr .params .param.summary {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
  }
  .order-final .page-wr .params .param.summary .n {
    margin-bottom: 0;
    margin-right: 15px;
  }
  .order-final .page-wr .params .param .n {
    display: block;
    margin: 0 0 12px;
  }
  .order-final .page-wr .to-shop-link {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .about-page .page-title {
    padding-left: 14px;
  }
  .about-page .contacts-list {
    flex-wrap: wrap;
    flex-direction: column;
    padding: 13px 18px 0;
    margin-bottom: 11px;
  }
  .about-page .contacts-list li {
    margin: 0 0 20px !important;
    width: 100% !important;
    line-height: 1.5;
  }
  .about-page .map {
    height: 408px;
    margin-bottom: 29px;
  }
  .about-page .about-text {
    padding: 0 20px;
  }
  .about-page .about-photo {
    height: 233px;
    margin-bottom: 40px;
  }
  .about-page .feedback-form {
    max-width: 600px;
  }
  .about-page .feedback-form .title {
    margin: 0 auto 30px;
  }
  .about-page .feedback-form .disclaimer {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .delivery-page {
    padding: 0 20px;
  }
  .delivery-page .page-title {
    margin-bottom: 14px;
  }
  .delivery-page .delivery-companies {
    padding: 9px 0 13px;
    justify-content: space-between;
  }
  .delivery-page .delivery-companies img {
    margin-bottom: 22px;
    margin-right: 0;
    max-width: 47%;
  }
  .delivery-page .pay-wrap .mnm {
    margin-left: -20px;
    width: calc(100% + 40px);
    padding: 4px 20px 28px;
  }
  .delivery-page .pay-wrap .mnm .card {
    max-width: 100%;
    margin-bottom: 24px;
  }
  .delivery-page .h3 {
    margin-top: 28px;
  }
  .delivery-page .payment-methods {
    padding: 16px 0 0px 0px;
    display: block;
    margin-bottom: 42px;
  }
  .delivery-page .payment-methods li {
    margin: 0 0 32px 0;
  }
}
@media screen and (max-width: 767px) {
  p {
    max-width: 100%;
  }
  .h1 {
    font-size: 24px;
  }
  .h2 {
    font-size: 24px;
  }
  .h3 {
    font-size: 18px;
  }
  .page-title {
    margin-top: 18px;
    font-size: 24px;
  }
  .products-mesh {
    padding: 0;
    flex-direction: row;
    justify-content: center;
  }
  .products-mesh.two-cols {
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
  }
  .products-mesh.two-cols .product-cart {
    width: calc((100% - 10px)/2) !important;
    height: 347px;
    margin: 0 0 16px;
  }
  .products-mesh.two-cols .product-cart .badges {
    top: 9px;
  }
  .products-mesh.two-cols .product-cart .badges .badge {
    font-size: 13px;
    height: 20px;
    padding: 1px 6px;
    line-height: 19px;
  }
  .products-mesh.two-cols .product-cart .name {
    font-size: 14px;
    height: 73px;
  }
  .products-mesh.two-cols .product-cart .photo-wr {
    height: 171px;
    padding-top: 0;
  }
  .products-mesh.two-cols .product-cart .size {
    display: none;
  }
  .products-mesh.two-cols .product-cart .price-wr .price {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .products-mesh.two-cols .product-cart .price-wr .price .old-price {
    position: relative;
    right: 0;
    top: 0;
  }
  .products-mesh.table {
    margin-top: -32px;
  }
  .products-mesh.table .product-cart:not(:last-child) {
    border-bottom: 2px solid #EBECED;
  }
  .products-mesh.table .product-cart {
    height: auto;
    box-shadow: none;
    width: calc(100% - 20px);
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
    padding: 32px 0 25px;
  }
  .products-mesh.table .product-cart .bl1 {
    width: 148px;
    margin-right: 10px;
    display: flex;
    flex-direction: column-reverse;
  }
  .products-mesh.table .product-cart .bl2 {
    text-align: left;
    width: calc(100% - 158px);
  }
  .products-mesh.table .product-cart .photo-wr {
    margin-bottom: 3px;
    height: 101px;
    padding-top: 0;
  }
  .products-mesh.table .product-cart .size {
    display: none;
  }
  .products-mesh.table .product-cart .category {
    margin-bottom: 8px;
  }
  .products-mesh.table .product-cart .name {
    height: auto;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 11px;
  }
  .products-mesh.table .product-cart .badges {
    position: relative;
    top: 0;
  }
  .products-mesh.table .product-cart .badges .badge {
    font-size: 13px;
    height: 20px;
    padding: 1px 6px;
    line-height: 19px;
  }
  .products-mesh.table .product-cart .price-wr .price {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
  }
  .products-mesh.table .product-cart .price-wr .price .current-price {
    margin-right: 11px;
  }
  .products-mesh.table .product-cart .price-wr .price .old-price {
    position: relative;
    top: 0;
    left: 0;
  }
  .products-mesh .product-cart {
    width: calc(50% - 30px);
    margin: 0 10px 20px;
    height: 398px;
  }
  .products-mesh .product-cart .photo-wr {
    height: 270px;
    padding-top: 40px;
  }
  .products-mesh .product-cart .category {
    margin-bottom: 7px;
  }
  .products-mesh .product-cart .name {
    height: 43px;
  }
  .products-mesh .product-cart .size {
    transform: none;
    opacity: 1;
  }
  .products-mesh .product-cart .to-cart-btn {
    display: none !important;
  }
  .products-mesh .collection-block {
    margin-bottom: 16px;
  }
  .form {
    padding: 0 20px;
  }
  .form .row {
    display: block;
  }
  .form .row .input-block {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .products-mesh .product-cart {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .sizes-table-popup {
    position: relative;
    background: #F9F9F9;
    height: 100vh;
  }
  .sizes-table-popup .popup-wr2 {
    display: block;
    width: 100%;
  }
  .sizes-table-popup .popup-wr {
    height: 100%;
  }
  .sizes-table-popup .popup-wr:after {
    display: none;
  }
  .sizes-table-popup .popup-wr .head {
    padding-top: 49px;
  }
  .sizes-table-popup .popup-wr .head .title {
    text-align: left;
    padding-left: 20px;
  }
  .sizes-table-popup .popup-wr .head .close {
    top: 46px;
    right: 20px;
  }
  .sizes-table-popup .popup-wr .table {
    flex-direction: column;
    position: relative;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .sizes-table-popup .popup-wr .table .col {
    text-align: left;
    display: flex;
    width: 1420px;
    padding-left: 20px;
  }
  .sizes-table-popup .popup-wr .table .col:nth-child(2n+1) {
    background: #fff;
  }
  .sizes-table-popup .popup-wr .table .col .v {
    padding: 20px 0 !important;
    width: 110px;
    background: transparent !important;
  }
  .sizes-table-popup .popup-wr .table .col .v.h {
    width: 210px !important;
  }
  .sizes-table-popup .popup-wr .btn.close {
    line-height: 56px;
    width: 224px;
    display: block;
    margin: 50px auto;
  }
  .sizes-table-popup .popup-wr .hand {
    display: block;
    margin: 40px auto 0;
  }
}
@media screen and (max-width: 767px) {
  .fullsize-popup .search-form input {
    width: calc(100% - 50px);
    height: 50px;
    font-size: 26px;
  }
  .fullsize-popup .search-form button {
    position: relative;
    padding: 0;
    width: 50px;
    height: 50px;
    font-size: 24px;
    left: -1px;
    line-height: 1;
    padding-top: 2px;
  }
}
@media screen and (max-width: 767px) {
  body {
    position: relative;
  }
  body.mobile-menu-opened > .main-content {
    display: none;
  }
  body.mobile-menu-opened > aside {
    display: flex;
  }
  body.showed-table-popup header,
  body.showed-table-popup .product-page {
    display: none;
  }
  body > .main-content {
    width: 100%;
    margin-left: 0;
  }
  body > aside {
    display: none;
    width: 100%;
    align-items: stretch;
    flex-direction: row-reverse;
    position: relative;
    min-height: 100vh;
    height: initial;
  }
  body > aside .mobile-sidebar {
    width: 56px;
    justify-content: flex-start;
    background: #FF4040;
    height: auto;
  }
  body > aside .mobile-sidebar .categories {
    display: none;
  }
  body > aside .mobile-sidebar .sn {
    display: flex;
    margin-top: 99px;
  }
  body > aside .mobile-sidebar .sn a {
    padding: 12px 0;
  }
  body > aside .mobile-sidebar .open-menu-icon {
    display: none;
  }
  body > aside .mobile-sidebar .close-menu-icon {
    display: block;
    padding: 25px 0;
    font-size: 23px;
    margin-bottom: 5px;
  }
  body > aside .mobile-sidebar .search-cart {
    display: none !important;
  }
  body > aside .sidebar {
    position: relative;
    left: 0;
    justify-content: flex-start;
    width: calc(100% - 56px);
  }
  body > aside .sidebar .top {
    height: 89px;
  }
  body > aside .sidebar .top .default-top,
  body > aside .sidebar .top .scrolled-top {
    display: none !important;
  }
  body > aside .sidebar .top .mobile-top {
    display: flex;
    align-items: center;
    font-size: 30px;
    justify-content: space-between;
    padding: 20px 24px;
  }
  body > aside .sidebar .top .mobile-top .logo img {
    width: 51px;
  }
  body > aside .sidebar .top .mobile-top .cart {
    color: #FF4040;
    font-size: 25px;
  }
  body > aside .sidebar .top .mobile-top .phone-icon {
    font-size: 26px;
  }
  body > aside .sidebar .links {
    margin-bottom: 5px;
  }
  body > aside .sidebar .links .categories {
    margin-bottom: 19px;
  }
  body > aside .sidebar .links .categories a .icon-wr {
    width: 54px;
  }
  body > aside .sidebar .links .pages {
    padding-top: 0;
  }
  body > aside .sidebar .links .pages a {
    text-align: left;
    padding: 0 0 0 35px;
    margin: 0 0 28px 0;
  }
  body > aside .sidebar footer {
    align-items: flex-start;
    padding-left: 35px;
  }
  body header {
    height: 78px;
    padding-left: 150px;
    justify-content: flex-end;
  }
  body header .logo {
    display: block;
    width: auto;
    padding-left: 20px;
    position: absolute;
    left: 0;
  }
  body header .logo .logo-mobile {
    display: block;
    width: 105px;
  }
  body header .logo .logo-min {
    display: none;
  }
  body header .right-block {
    padding-right: 0;
    height: 100%;
  }
  body header .left-block {
    height: 100%;
  }
  body header .main-menu,
  body header .discount-link,
  body header .search-icon {
    display: none;
  }
  body header .phone {
    font-size: 0;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 14px;
  }
  body header .phone .icon {
    display: block;
    font-size: 27px;
  }
  body header .cart {
    top: 0;
    height: 100%;
    padding: 0px 19px 3px;
  }
  body header .cart .sum {
    display: none;
  }
  body header .cart .icon {
    margin-right: 0;
    font-size: 26px;
  }
  body header .open-mobile-menu {
    font-size: 24px;
    padding: 0 15px;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}
