.about-page {
    .page-title {
        padding-left: 34px;
    }
    .contacts-list {
        padding-left: 34px;
        display: flex;
        margin-bottom: 33px;
        padding-top: 20px;
        li {
            display: flex;
            align-items: flex-start;
            font-size: 16px;
            margin-right: 41px;
            img {
                margin-right: 18px;
                &.icon-mail {
                    position: relative;
                    top: 4px;
                }
            }
        }
    }

    .map {
        height: 337px;
        margin-bottom: 40px;
    }

    .about-text {
        .main_content_padding;
        margin-bottom: 40px;
    }

    .about-photo {
        height: 362px;
        background: url('/img/about.jpg');
        background-size: cover;
        background-position: center;
        margin-bottom: 60px;
    }

    .feedback-form {
        max-width: 776px;
        margin: 0 auto 50px;
        .title {
            font-size: 24px;
            font-weight: 600;
            text-align: center;
            max-width: 370px;
            margin: 0 auto 40px;
        }
        button {
            padding: 0;
            display: block;
            margin: 35px auto 36px;
            width: 248px;
        }
        .disclaimer {
            font-size: 14px;
            color: #888DA6;
            width: 604px;
            margin: 0 auto;
            text-align: center;
        }
    }
}