.category-page {
    padding-bottom: 50px;
    .categories-block {
        height: 58px;
        background: #F9F9F9;
        display: flex;
        line-height: 58px;
        margin-bottom: 33px;
        .caption {
            background: #FF4040;
            color: #fff;
            font-weight: bold;
            width: 236px;
            .main_content_padding;
        }
        nav {
            flex-grow: 1;
            display: flex;
            justify-content: space-between;
            padding: 0 39px;
            a {
                border-bottom: 4px transparent solid;
                transition: .2s;
                &.selected {
                    font-weight: bold;
                    border-bottom-color: #ff4040;
                }
                &:hover {
                    border-bottom-color: #ff4040;
                }
            }
        }
    }

    .mobile-filter {
        display: none;
    }

    .filter-block {
        display: flex;
        .main_content_padding;
        margin-bottom: 25px;
        padding-right: 14px;
        flex-wrap: wrap;

        .filter-item {
            margin-right: 20px;
            .name {
                font-size: 14px;
                color: #828594;
                line-height: 22px;
                margin-bottom: 8px;
            }
            .dropdown-list {
            }
        }
    }

    .colors-block {
        padding: 0 54px 0 34px;
        &.compact {
            position: relative;
            border-right: #fff 20px solid;
            .colors {
                overflow: hidden;
                height: 38px;
            }
            .expand-btn {
                display: flex;
            }
        }
        .expand-btn {
            position: absolute;
            right: 34px;
            top: 2px;
            font-size: 43px;
            line-height: 20px;
            font-weight: 500;
            color: #FF4040;
            display: none;
            width: 20px;
            height: 34px;
            background: #fff;
            align-items: center;
            justify-content: center;
        }
        .colors {
            display: flex;
            flex-wrap: wrap;
            margin-left: -5px;
            padding: 2px;
            justify-content: center;
            li {
                width: 34px;
                height: 34px;
                border-radius: 50%;
                margin: 0 13px 13px 0;
                border: 3px solid #FFFFFF;
                transition: .2s;
                cursor: pointer;
                &:hover, &.selected {
                    box-shadow: @dark_blue 0 0 0 2px;
                }
                &:active {
                    transform: scale(.9);
                }
                &.white {
                    box-shadow: inset #979797 0 0 0 1px;
                    &:hover {
                        box-shadow: @dark_blue 0 0 0 2px, inset #979797 0 0 0 1px;
                    }
                }
            }
        }
    }

    .set-filter-btn {
        display: none;
    }
}