.rub-price&:after {
    content: '9';
    font-weight: normal;
    font-family: PTRoubleSans;
    position: relative;
    top: 3px;
    margin-left: 1px;
}

.h1 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
}

.h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 16px;
}

.h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
}

.text-wrap {
    max-width: 880px;
    margin: 0 auto;
}

p {
    margin-bottom: 18px;
    line-height: 1.9;
    max-width: 879px;
}

.page-title {
    .h1;
    margin: 22px 0 8px;
}

.old-price {
    color: #888DA6;
    font-weight: 500;
    position: relative;
    &:before {
        content: '';
        display: block;
        border-top: 2px solid #FF4040;
        position: absolute;
        width: calc(~"100% + 7px");
        transform: rotate(-15deg);
        bottom: 4px;
        transform-origin: bottom left;
        left: -2px;
    }
}

.products-mesh {
    display: flex;
    flex-wrap: wrap;
    padding: 24px 19px 20px 34px;
    .product-cart {
        display: block;
        width: calc(~"25% - 15px");
        height: 440px;
        background: #fff;
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14);
        margin: 0 15px 40px 0;
        position: relative;
        text-align: center;
        overflow: hidden;
        &:hover {
            .to-cart-btn {
                .circle {
                    transform: translate(0, 0);
                }
                .icon {
                    opacity: 1;
                }
            }
            .size {
                transform: translateX(0);
                opacity: 1;
            }
        }
        .badges {
            position: absolute;
            display: flex;
            width: 100%;
            top: 20px;
            justify-content: center;
        }

        .photo-wr {
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 60px;
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
        .category {
            font-size: 12px;
            color: #A6AABD;
            text-transform: uppercase;
            cursor: pointer;
            margin-bottom: 10px;
        }
        .name {
            font-size: 16px;
            line-height: 22px;
            height: 48px;
            overflow: hidden;
        }
        .price-wr {
            .price {
                display: inline-block;
                font-size: 24px;
                font-weight: 700;
                position: relative;
                &:after {
                    font-size: 21px;
                }

                .old-price {
                    font-size: 18px;
                    position: absolute;
                    right: calc(~"100% + 15px");
                    top: 6px;
                }
            }
        }

        .size {
            position: absolute;
            top: 42px;
            left: -7px;
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
            transition: .2s;
            opacity: 0;
            transform: translateX(-12px);
            .caption {
                transform: rotate(-90deg);
            }
            .value {
                color: @red;
                margin-top: 25px;
            }
        }

        .to-cart-btn {
            position: absolute;
            cursor: pointer;
            right: 78px;
            bottom: 73px;
            &:hover {
                .circle {
                    background: @dark_blue;
                }
            }
            .circle {
                background: #FF4040;
                width: 156px;
                height: 156px;
                position: absolute;
                transform: translate(53px, 53px);
                transition: .3s;
                border-radius: 50%;
            }
            .icon {
                position: absolute;
                top: 34px;
                left: 42px;
                opacity: 0;
                transition: 1s;
            }
        }
    }
}

.btn-center {
    text-align: center;
}

//бейдж
.badge {
    color: #fff !important;
    font-size: 14px;
    background: #ED2A7B;
    height: 25px;
    font-weight: bold;
    padding: 3px 9px;
    line-height: 21px;
    display: inline-block;
    &.new {
        background: @red;
    }
    &.popular {
        background: @dark_blue;
    }
    &.discount {
        background: @blue;
        &:after {
            content: '%';
            font-weight: normal;
        }
    }
    &.pink {
        background: #FF398B;
    }
}

.slick-arrow {
    &.slick-prev:after {
        transform: rotate(-45deg);
    }
    &.slick-next:after {
        transform: rotate(135deg);
    }
    &:before {
        display: none;
    }
    &:after {
        content: '';
        border-top: 2px solid @red;
        border-left: 2px solid @red;
        width: 15px;
        height: 15px;
        display: block;
        transition: .2s;
    }
    &:hover:after {
        border-top-color: #3B4057;
        border-left-color: #3B4057;
    }
}

.form {
    .row {
        display: flex;
        justify-content: space-between;
        .input-block {
            width: 370px;
        }
    }
    .input-block {
        position: relative;
        margin-bottom: 25px;
        &.req .name:after {
            content: '';
            width: 7px;
            height: 7px;
            border-radius: 50%;
            position: absolute;
            right: 14px;
            top: 10px;
            background: @red;
        }
        .name {
            margin-bottom: 8px;
            line-height: 22px;
            color: #828594;
        }
        input, textarea {
            width: 100%;
        }
        textarea {
            height: 103px;
        }
    }
}

ul.marked {
    li {
        position: relative;
        padding-left: 20px;
        margin-bottom: 4px;
        line-height: 1.9;
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 9px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: #FF4040;
            left: -1px;
        }
    }
}


@media screen and (max-width: 1090px) {
    .products-mesh {
        .product-cart {
            width: calc(~"33.3% - 15px");
        }
    }
}