.delivery-page {
	padding-bottom: 40px;
	.main_content_padding;

	.page-title {
		margin-bottom: 19px;
	}
	.h2 {
		margin-top: 27px;
	}
	.delivery-companies {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		max-width: 879px;
		padding: 18px 11px 43px 6px;
	}

	.payment-methods {
		display: flex;
		padding: 22px 0 20px 7px;
		align-items: center;
		li {
			font-size: 18px;
			margin-right: 50px;
			display: flex;
			align-items: center;
			img {
				margin-right: 22px;
			}
		}
	}

	.pay-wrap {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		padding-right: 27px;
		.text-block {
			width: 533px;
			padding-right: 5px;
		}
		.mnm {
			background: #F9F9F9;
			width: 391px;
			padding: 5px 32px;
			margin-top: 67px;
			.card {
				margin-bottom: 21px;
			}
			ul {
				margin-bottom: 25px;
			}
		}
	}
	img.cards {
		margin: 8px 0 23px 0;
	}
}