.index-page {
	background: #F9F9F9;
	.top-block {
		height: 522px;
		position: relative;
		background-size: cover;
		background-position: center;
		.c {
			position: absolute;
			top: 58px;
			left: 47px;
			.t {
				font-size: 26px;
				font-weight: 600;
				letter-spacing: 26.9px;
			}
			.year {
				font-size: 135px;
				letter-spacing: 0;
				font-weight: 900;
				margin: -36px 0 -31px;
				.red {
					color: @red;
				}
			}
			.t2 {
				font-size: 23px;
				font-weight: 600;
				margin-bottom: 25px;
			}
		}
	}

	.categories-block {
		display: flex;
		flex-wrap: wrap;
		padding: 40px 34px 0;
		max-width: 1920px;
		&[data-count="3"],&[data-count="6"] {
			a {
				width: 32.5%;
				margin: 0 1.25% 16px 0;
				&:nth-child(3n) {
					margin-right: 0;
				}
			}
		}
		&[data-count="4"] {
			a {
				width: 49%;
				margin: 0 2% 16px 0;
				&:nth-child(2n+1) {
					margin-right: 0;
				}
			}
		}
		&[data-count="5"] {
			a {
				&:nth-child(1), &:nth-child(2), &:nth-child(3) {
					width: 32.5%;
					margin: 0 1.25% 16px 0;
				}
				&:nth-child(4), &:nth-child(5) {
					width: 49%;
					margin: 0 2% 16px 0;
				}
				&:nth-child(5n+3),&:nth-child(5n+5) {
					margin-right: 0;
				}
			}
		}
		a {
			width: 314px;
			height: 172px;
			margin: 0 15px 16px 0;
			position: relative;
			display: flex;
			flex-direction: column-reverse;
			background-size: cover;
			.name {
				position: relative;
				font-size: 20px;
				color: #fff;
				text-align: center;
				font-weight: 800;
				text-transform: uppercase;
				background: rgba(59, 64, 87, .5);
				padding: 18px;
			}
		}
	}

	.collection-block {
		margin-bottom: 36px;
		display: block;
		background: url(/img/inline-banner.jpg);
		height: 270px;
		background-size: cover;
	}

	.products-block {
		padding-bottom: 80px;
	}
}