input:not([type="radio"]):not([type="checkbox"]), textarea {
    background-clip: padding-box;
    border-radius: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border: 1px solid #828594;
    line-height: 40px;
    color: #1C1C1C;
    padding: 0 20px;
    height: 40px;
}

.btn {
    line-height: 56px;
    background: @red;
    color: #fff;
    text-align: center;
    display: inline-block;
    border: 0;
    transition: .2s;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0 37px;
    cursor: pointer;
    &:hover {
        background: @dark_blue;
    }
    &.btn-outline {
        background: transparent;
        border: 2px solid #FF4040;
        color: @red;
        &:hover {
            background: transparent;
            border-color: @dark_blue;
            color: @dark_blue;
        }
    }
    &.btn-dark {
        background: @dark_blue;
    }
}

.dropdown-list {
    background: #FFFFFF;
    border: 1px solid #828594;
    height: 40px;
    position: relative;
    cursor: pointer;
    padding-right: 20px;
    font-weight: 500;
    width: 100%;
    &.opened {
        &:after {
            border-width: 0 5px 7px 5px;
            border-color: transparent transparent #ff4040 transparent;
        }
        .options {
            transform: scaleY(1);
        }
    }
    &:after {
        content: '';
        position: absolute;
        right: 7px;
        top: 16px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7px 5px 0 5px;
        border-color: #ff4040 transparent transparent transparent;
        transition: .2s;
    }
    .value {
        line-height: 40px;
        padding: 0 10px;
    }
    .options {
        position: absolute;
        z-index: 100;
        background: #fff;
        border: 1px solid #828594;
        border-top: none;
        left: -1px;
        top: 100%;
        width: calc(~"100% + 2px");
        transition: .2s;
        transform: scaleY(0);
        transform-origin: top;
        padding-bottom: 5px;
        li {
            line-height: 42px;
            padding: 0 30px 0 10px;
            &:hover {
                background: @red;
                color: #fff;
            }
        }
    }
}

label {
    font-size: 16px;
    [type="radio"] {
        display: none;
        & + i {
            background: #FFFFFF;
            border: 2px solid #3B4057;
            display: inline-flex;
            border-radius: 50%;
            margin-right: 9px;
            vertical-align: middle;
            width: 18px;
            height: 18px;
            align-items: center;
            justify-content: center;
            position: relative;
            top: -3px;
        }
        &:checked + i:after {
            content: '';
            display: block;
            background: @red;
            width: 6px;
            height: 6px;
            border-radius: 50%;
        }
    }
}