@import "./libs/slick-theme";
@import "./libs/slick";
@import 'reset.less';
@import 'Glyphter';
@import 'common';
@import 'input';
@import 'index';
@import 'category';
@import 'product';
@import 'order';
@import 'order-final';
@import 'about';
@import 'delivery';
@import 'popup';
@import 'sizes-table-popup';

@max_width_1024: 1279px;
@max_width_768: 1023px;
@max_width_320: 767px;

@font-face {
    font-family: PTRoubleSans;
    src: url("./fonts/PTRoubleSans.eot");
    src: url("./fonts/PTRoubleSans.eot?#iefix") format("embedded-opentype"),
    url("./fonts/PTRoubleSans.woff2") format("woff2"),
    url("./fonts/PTRoubleSans.woff") format("woff"),
    url("./fonts/PTRoubleSans.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

//colors
@red: #FF4040;
@blue: #4AA3FF;
@dark_blue: #3B4057;

.main_content_padding {
    padding-left: 34px;
}

//mixins
.inline-middle {
    display: inline-block;
    vertical-align: middle;
}

.inline-top {
    display: inline-block;
    vertical-align: top;
}

.posrel {
    position: relative;
}

.posabs {
    position: absolute;
}

.fullsize {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    //overflow-y: scroll;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.375;
    color: @dark_blue;
    font-size: 14px;
    max-width: 1920px;
    min-width: 320px;

    /**
        САЙДБАР
     */
    > aside {
        width: 330px;
        background: @dark_blue;
        color: #fff;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1;
        height: 100vh;
        &.scrolled {
            .sidebar {
                .top {
                    .default-top {
                        opacity: 0;
                        transform: translateY(-143px);
                        transition-delay: unset;
                    }
                    .scrolled-top {
                        opacity: 1;
                        transform: translateY(0);
                        transition-delay: .5s;
                    }
                }
            }
        }

        .icon {
            transition: .2s;
        }
        .icon-icon-all {
            color: #fff
        }
        .icon-icon-01 {
            color: #FF4040
        }
        .icon-icon-02 {
            color: #4AA3FF
        }
        .icon-icon-03 {
            color: #35B556
        }
        .icon-icon-04 {
            color: #2DC8A8
        }
        .icon-icon-05 {
            color: #ED2A7B
        }
        .icon-icon-06 {
            color: #AD40FF;
            font-size: 21px;
        }

        .mobile-sidebar {
            display: none;
        }

        .sidebar {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow-y: auto;
            height: auto;
            min-height: 100%;

            .top {
                height: 143px;
                position: relative;
				margin-bottom: 20px;
                .default-top, .scrolled-top {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }

                .default-top {
                    display: flex;
                    justify-content: center;
                    padding-top: 30px;
                    transition: .5s;
                    transition-delay: .5s;
                    .logo {
                        text-align: center;
                        margin-bottom: 6px;
                    }
                }

                .scrolled-top {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
					transform: translateY(-143px);
                    opacity: 0;
                    transition: .5s;

                    .icon {
                        transition: .2s;
                        display: inline-block;
                        cursor: pointer;
                    }
                    .cart {
                        text-align: center;
                        color: #fff;
                        display: block;
                        transition: .2s;
                        width: 89px;
                        padding-top: 7px;
                        &:hover {
                            .icon {
                                color: @red;
                            }
                            .sum {
                                color: #fff;
                            }
                        }
                        .icon {
                            display: block;
                            font-size: 18px;
                        }
                        .sum {
                            font-weight: 600;
                            display: block;
                            margin-top: -2px;
                            font-size: 14px;
                            color: #A6AABD;
                            transition: .2s;
                            &:after {
                                top: 4px;
                                margin-left: -4px;
                                font-size: 18px;
                                left: 6px;
                            }
                        }
                    }
                    .icon-search {
                        font-size: 24px;
                        width: 89px;
                        text-align: center;
                        margin-top: -7px;
                        &:hover {
                            color: @red;
                        }
                    }
                }
                .mobile-top {
                    display: none;
                }
            }

            .links {
                .categories {
                    margin-bottom: 49px;
                    a {
                        height: 53px;
                        display: flex;
                        align-items: center;
                        font-size: 16px;
                        transition: .2s;

                        &.selected, &:hover {
                            background: @red;
                            .icon-wr span {
                                color: #fff;
                            }
                        }

                        &:hover .icon-wr .icon {
                            color: #fff;
                        }
                        .icon-wr {
                            width: 117px;
                            text-align: right;
                            margin-right: 20px;
                        }
                    }
                }
                .pages {
                    padding-top: 9px;
                    a {
                        margin: 20px 0;
                        justify-content: center;
                        display: block;
                        text-align: center;
                        padding: 0 10px;
                        color: #888DA6;
                        font-weight: 600;
                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }

            footer {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-bottom: 74px;
                .sn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 15px;
                    a {
                        color: #808BBD;
                        font-size: 21px;
                        margin: 0 9px;
                        background: transparent !important;
                        .icon-icon-yt {
                            font-size: 23px;
                        }
                        &:hover {
                            color: #fff;
                        }
                    }
                }
                .phone {
                    font-weight: 500;
                    font-size: 22px;
                    margin-bottom: 17px;
                }
                .opt {
                    padding-right: 7px;
                    display: flex;
                    align-items: center;
                    margin-bottom: 23px;
                    &:hover {
                        color: @red;
                    }
                    .icon {
                        margin-right: 12px;
                        display: inline-block;
                        color: #FF4040;
                        position: relative;
                        top: 1px;
                    }
                }
                .copy {
                    color: #808BBD;
                    a {
                        color: #808BBD;
                        margin-left: 12px;
                    }
                }
            }
        }
        a {
            color: #fff;
        }
    }

    > .main-content {
        width: calc(~"100% - 330px");
        margin-left: 330px;
    }
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 5px;
        height: 68px;
        .left-block, .right-block {
            display: flex;
            align-items: center;
        }
        .right-block {
            padding-right: 33px;
        }
        .logo {
            display: none;
            .logo-mobile {
                display: none;
            }
        }
        .search-icon {
            padding: 0 42px 0 43px;
            cursor: pointer;
            font-size: 24px;
            color: @red;
            transition: .2s;
            &:hover {
                color: @dark_blue;
            }
        }
        .phone {
            font-weight: bold;
            font-size: 20px;
			margin-right: 30px;
            .icon {
                display: none;
            }
        }
        .main-menu {
            display: flex;
            margin-right: 1px;
            a {
                font-weight: 600;
                &:not(:last-child) {
                    margin-right: 23px;
                    border-right: 1px solid #FF4040;
                    padding-right: 21px;
                }
                &:hover {
                    color: @red;
                }
            }
        }

        .discount-link {
            font-size: 12px;
			margin-right: 30px;
            display: flex;
            align-items: center;
            &:hover {
                color: @red;
            }
            .badge {
                background: #ED2A7B;
                margin-right: 13px;
            }
        }

        .cart {
            display: flex;
            align-items: center;
            position: relative;
            top: -4px;
            &:hover {
                .icon {
                    color: @dark_blue;
                }
                .sum {
                    color: @red;
                }
            }
            .icon {
                font-size: 22px;
                position: relative;
                top: 2px;
                margin-right: 8px;
                color: @red;
                transition: .2s;
            }
            .sum {
                font-size: 18px;
                font-weight: bold;
                transition: .2s;
                &:after {
                    font-size: 21px;
                }
            }
        }

        .open-mobile-menu {
            display: none;
        }
    }
}

a {
    text-decoration: none;
    color: @dark_blue;
    transition: .2s color;
}

.container {
    width: 100%;
    position: relative;
    margin: 0 auto;
}

@import '1024/main';
@import '768/main';
@import '320/main';