.order-page {
    padding-bottom: 50px;
    h1 {
        .main_content_padding;
    }
    .products-table {
        li {
            display: flex;
            align-items: center;
            justify-content: space-between;
			padding: 20px 25px;

            &:nth-child(2n+2) {
                background: #F9F9F9;
            }
            .left-block, .right-block {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .photo-wr {
                width: 105px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 13px;
                flex-direction: column;
                img {
                    max-width: 100%;
                    max-height: 100%;
                }
                .size {
                    font-size: 12px;
                    color: #888DA6;
                    text-transform: uppercase;
                    margin-top: 13px;
                    .value {
                        color: @red;
                        display: inline-block;
                        margin-left: 8px;
                    }
                }
            }

            .product-info {
                margin-right: 18px;
                width: 218px;
                .category {
                    display: block;
                    font-size: 12px;
                    color: #A6AABD;
                    margin-bottom: 9px;
                    text-transform: uppercase;
                }
                .name {
                    display: block;
                    font-size: 16px;
                    margin-bottom: 12px;
                }
                .articul {
                    font-size: 12px;
                    color: #888DA6;
                }
            }

            .amount-selector {
                display: flex;
                align-items: center;
                justify-content: center;
                .minus, .plus {
                    width: 40px;
                    height: 40px;
                    position: relative;
                    cursor: pointer;
                    &:before {
                        content: '';
                        display: block;
                        height: 4px;
                        width: 20px;
                        background: @red;
                        position: absolute;
                        left: 10px;
                        top: calc(~"50% - 2px");
                        transition: .2s;
                    }
                    &:hover {
                        &:before, &:after {
                            background: #3B4057;
                        }
                    }
                }
                .plus:after {
                    content: '';
                    display: block;
                    height: 20px;
                    width: 4px;
                    background: @red;
                    position: absolute;
                    left: calc(~"50% - 2px");
                    top: 10px;
                    transition: .2s;
                }
                input {
                    width: 106px;
                    text-align: center;
                }
            }

            .discount-block {

            }
            .sum-block {
                width: 185px;
                margin-left: 54px;
                .price {
                    font-size: 24px;
                    color: #3B4057;
                    font-weight: bold;
                    margin-right: 8px;
                }
                .old-price {
                    font-size: 18px;
                    color: #888DA6;
                    font-weight: 600;
                }
            }
            .remove {
                display: inline-block;
                padding-right: 16px;
                .icon {
                    color: @red;
                    &:before {
                        font-weight: 900;
                    }
                }
            }
        }
    }

    .summary-block {
        text-align: center;
        padding: 29px 0 36px;
        .info {
            margin-bottom: 23px;
            display: flex;
            align-items: center;
            justify-content: center;
            .sum-wr {
                display: flex;
                align-items: center;
            }
            .discount-wr {
                margin-left: 7px;
                display: flex;
                align-items: center;
            }
            .sum {
                font-size: 24px;
                color: #3B4057;
                font-weight: bold;
                margin-left: 9px;
                position: relative;
                top: -2px;
            }
            .badge {
                margin-left: 7px;
                margin-right: 7px;
            }
        }
        .summary {
            font-size: 18px;
            font-weight: 600;
            .sum {
                color: #FF4040;
                font-size: 32px;
                font-weight: bold;
                margin-left: 5px;
                position: relative;
                top: 3px;
                &:after {
                    color: #3B4057;
                    font-size: 28px;
                    margin-left: -7px;
                    top: 3px;
                }
            }
        }
    }

    .block-title {
        font-size: 24px;
        font-weight: 600;
    }

    .delivery-payment-block {
        background: #F9F9F9;
        text-align: center;
        padding: 40px 0 60px;

        .block {
            &:not(:last-child) {
                margin-bottom: 58px;
            }
            .block-title {
                margin-bottom: 24px;
                .info {
                    color: #FF4040;
                    font-size: 19px;
                    margin-left: -25px;
                    position: relative;
                    left: 30px;
                    top: 3px;
                }
            }
            label {
                font-size: 16px;
                margin: 0 19px;
                .cards {
                    vertical-align: middle;
                    margin-left: 13px;
                }
            }
        }
    }

    .customer-block {
        max-width: 776px;
        margin: 0 auto;
        padding: 39px 0;
        .block-title {
            margin-bottom: 40px;
            text-align: center;
        }

        .bottom {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 34px;
            padding-top: 10px;
            .summary {
                font-size: 18px;
                margin-right: 37px;
                position: relative;
                top: -4px;
                .sum {
                    font-size: 32px;
                    font-weight: bold;
                    margin-left: 11px;
                    position: relative;
                    top: 3px;
                }
            }
            .btn {
                padding: 0 24px;
            }
        }

        .disclaimer {
            color: #888DA6;
            text-align: center;
            width: 604px;
            margin: 0 auto;
            line-height: 1.5;
        }
    }
}