.order-final {
    .page-wr {
        max-width: 640px;
        margin: 0 auto;
        padding-top: 103px;
        .page-title {
            text-align: center;
            margin-bottom: 45px;
        }
        .params {
            margin-bottom: 19px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            height: 180px;
            .param {
                font-size: 16px;
                margin-bottom: 20px;
                width: 339px;
                height: 22px;
                display: flex;
                align-items: center;
                .n {
                    display: inline-block;
                    margin-right: 22px;
                }
                .v {
                    font-weight: 500;
                    .sum {
                        font-size: 22px;
                        font-weight: bold;
                    }
                }
            }
        }
        .to-shop-link {
            display: block;
            margin: 0 auto;
            width: 302px;
            padding: 0;
        }
    }
}