.fullsize-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 100;

    &.search-popup {
        transition: .25s;
        transform-origin: top center;
        &:not(.opened) {
            opacity: 0;
            transform: perspective(100px) rotateX(-90deg);
        }
    }

    .popup-close-btn {
        width: 68px;
        background: @red;
        height: 68px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-right: -3px;
        margin-top: -5px;
        position: relative;
        z-index: 10;
        img {
            width: 34px;
        }
    }
    .search-form {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        left: 50%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        transform: translateX(-50%);
        max-width: 944px;
        padding: 0 20px 100px;
        .title {
            margin-bottom: 19px;
        }
        .input-wr {
            width: 100%;
            display: flex;
            align-items: flex-start;
        }
        input {
            width: calc(~"100% - 60px");
            height: 58px;
            font-size: 26px;
        }
        button {
            position: relative;
            padding: 0;
            width: 58px;
            height: 58px;
            font-size: 30px;
            left: -1px;
            line-height: 1;
        }
    }
}