.product-page {
    /*position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: #fff;
    height: 100vh;
    width: 100%;*/

    .product-page-wr {
        /*overflow-y: auto;
        height: 100%;*/
    }

    header {
        height: 68px;
    }

    .product-page-layout {
        display: flex;
        padding: 0 68px;
        //width: 1366px;
        margin: 0 auto;
        position: relative;
		justify-content: center;

        .product-name {
            font-size: 32px;
            font-weight: 600;
            margin-bottom: 8px;
        }
        .category {
            display: block;
            font-size: 12px;
            color: #A6AABD;
            text-transform: uppercase;
            margin-bottom: 17px;
        }

        .prev, .next {
            width: 68px;
            display: flex;
            height: calc(~"100vh - 68px");
            justify-content: center;
            position: absolute;
            padding-top: 280px;
            top: 0;
            &:hover:after {
                border-top-color: #3B4057;
                border-left-color: #3B4057;
            }
            &:after {
                content: '';
                display: block;
                border-top: 3px solid #FF4040;
                border-left: 3px solid #FF4040;
                width: 25px;
                position: relative;
                height: 25px;
                transition: .2s;
            }
            &.prev {
                left: 0;
                &:after {
                    transform: rotate(-45deg);
                    left: 5px;
                }
            }
            &.next {
                right: 0;
                &:after {
                    transform: rotate(135deg);
                    left: -5px;
                }
            }
        }

        .left-block {
			width: calc(~"100% - 470px");
			margin-right: 30px;
			max-width: 600px;
            .badges {
                font-size: 0;
            }
            .photo-wr {
                height: 498px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 28px;
                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }

        .right-block {
            width: 450px;
            padding-top: 23px;
            .price-block {
                margin-bottom: 9px;
                .price {
                    font-size: 32px;
                    font-weight: bold;
                    margin-right: 14px;
                    &:after {
                        margin-left: 2px;
                        font-size: 26px;
                    }
                }
                .old-price {
                    font-size: 18px;
                    color: #888DA6;
                    font-weight: 600;
                    position: relative;
                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        height: 1px;
                        width: 100%;
                        background: @red;
                        left: 0;
                        top: 50%;
                    }
                }
            }

            .articul {
                font-size: 12px;
                color: #A6AABD;
                margin-bottom: 19px;
            }

            .add-to-cart-btn {
                display: block;
                width: 280px;
                text-align: center;
                padding: 0;
                margin-bottom: 32px;
            }

            .params {
                font-size: 14px;
                margin-bottom: 19px;
                li {
                    margin-bottom: 17px;
                    display: flex;
					&.hidden {
						display: none;
					}
                    .n {
                        width: 83px;
                        margin-right: 9px;
                    }
                    .v {
                        font-weight: 600;
                        .sizes-table-link {
                            font-weight: normal;
                            position: relative;
                            border-bottom: 1px dotted #FF4040;
                            margin-left: 17px;
                            padding-bottom: 2px;
                            transition: .2s;
                            &:hover {
                                color: @red;
                            }
                        }
                        .season-icon {
                            width: 14px;
                            height: 14px;
                            display: inline-block;
                            vertical-align: middle;
                            position: relative;
                            top: -1px;
                            margin-right: 3px;
                            &.winter {
                                background: url(/img/icons/icon_season_winter.svg);
                            }
                            &.spring {
                                background: url(/img/icons/icon_season_spring.svg);
                            }
                            &.summer {
                                background: url(/img/icons/icon_season_summer.svg);
                            }
                            &.fall {
                                background: url(/img/icons/icon_season_fall.svg);
                            }
                        }
                    }
                }
            }

            .all-params-link {
                border-bottom: 1px dotted #FF4040;
                position: relative;
                margin-left: 17px;
                padding-bottom: 1px;
                margin-bottom: 28px;
                display: inline-block;
                transition: .2s;
                &:hover {
                    color: @red;
                }
                &:before {
                    content: '';
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 5px 0 5px 7px;
                    border-color: transparent transparent transparent #3b4057;
                    position: absolute;
                    top: 5px;
                    left: -17px;
                }
            }

            .descr {
                font-size: 14px;
                line-height: 24px;
            }
        }

        .variants-wr {
            padding: 0 28px;
            margin-bottom: 24px;
            .variants {
                .variant {
                    cursor: pointer;
                    width: 87px;
                    text-align: center;
                    &:hover {
                        .photo-wr {
                            border-color: #FF4040;
                        }
                    }
                    .photo-wr {
                        width: 87px;
                        height: 60px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 9px;
                        border: 2px solid transparent;
                        padding: 3px;
                        img {
                            display: block;
                            max-width: 100%;
                            max-height: 100%;
                        }
                    }
                }

                .slick-prev, .slick-next {
                    top: 30px;
                }
            }
        }
    }

    .prefs {
        background: #F9F9F9;
        max-width: 466px;
        padding: 24px 29px 8px;
        margin: 0 auto;
        li {
            font-size: 12px;
            margin-bottom: 12px;
            display: flex;
            line-height: 1.6;
            .icon-wr {
                text-align: center;
                margin-right: 10px;
                width: 11px;
            }
        }
    }
}