.sizes-table-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    display: none;
    .popup-wr2 {
        display: flex;
        height: 100%;
        align-items: center;
        background: rgba(255, 255, 255, 0.9);
        justify-content: center;
    }
    .popup-wr {
        background: #F9F9F9;
        margin: 0 auto;
        position: relative;
        width: auto;
        &:after {
            content: '';
            height: 6px;
            position: absolute;
            width: 90%;
            left: 5%;
            bottom: 2px;
            box-shadow: 0 12px 74px 0 rgba(0,0,0,0.8);
            background: #F9F9F9;
            z-index: 1;
        }
        .head {
            position: relative;
            margin-bottom: 26px;
            padding-top: 29px;
            .title {
                font-size: 20px;
                text-align: center;
                font-weight: 600;
            }
            .close {
                position: absolute;
                top: 14px;
                right: 14px;
                color: @red;
                font-size: 29px;
                cursor: pointer;
            }
        }
        .table {
            display: flex;
            justify-content: center;
            position: relative;
            z-index: 2;
            .col {
                text-align: center;
                &:first-child {
                    .v {
                        padding: 10.4px 38px 10.4px 60px;
                    }
                }
                &:last-child {
                    .v {
                        padding: 10.4px 60px 10.4px 38px;
                    }
                }
                .v {
                    padding: 10.4px 38px;
                    font-size: 16px;
                    font-weight: 500;
                    &:nth-child(2n+2) {
                        background: #fff;
                    }

                    &.h {
                        font-weight: 600 !important;
                        padding-bottom: 15px;
                    }
                }
            }
        }
        .hand {
            display: none;
        }
        .btn.close {
            display: none;
        }
    }
}