<div class="product-page fullsize-popup">
    <div class="product-page-wr">
        <header>
            <div class="left-block">
                <div class="popup-close-btn">
                    <img src="/icons/cross.svg"/>
                </div>
                <a class="logo" href="/">
                    <img src="/logo-h.svg" class="logo-wide"/>
                    <img src="/logo-min-black.svg" class="logo-min"/>
                    <img src="/logo-black.svg" class="logo-mobile"/>
                </a>
                <div class="search-icon">
                    <span class="icon-search show-search-popup"></span>
                </div>
                <a href="tel:8 800 1234 55 66" class="phone">
                    <span class="icon-telephone icon"></span>
                    8 800 1234 55 66
                </a>
                <nav class="main-menu">
                    <a href="/delivery">Доставка и оплата</a>
                    <a href="/about">Компания</a>
                </nav>
            </div>

            <div class="right-block">
                <a href="/discout" class="discount-link">
                    <span class="badge discount pink">-10</span>
                    при заказе от 1000 р.
                </a>

                <a href="/order" class="cart">
                    <span class="icon icon-icon-cart"></span>
                    <span class="sum rub-price">1 000</span>
                </a>
            </div>

            <div class="open-mobile-menu">
                <span class="icon-burger"></span>
            </div>
        </header>

        <div class="product-page-layout">
            <div class="mobile-name-wr"></div>

            <a href="#" class="prev"></a>

            <div class="left-block">
                <div class="badges">
                    <div class="badge discount">-10</div>
                    <div class="badge new">NEW</div>
                    <div class="badge popular">ХИТ</div>
                </div>

                <div class="photo-wr">
                    <img src="/_fake/p.jpg" class="photo"/>
                </div>

                <div class="narrow-variants-wr">
                </div>

                <div class="wide-prefs-wr">
                    <ul class="prefs">
                        <li>
                            <div class="icon-wr"><img src="/icons/icon-sale.svg"/></div>
                            <div class="t">
                                Скидка -10% на общую сумму заказа от 1000 руб.
                            </div>
                        </li>
                        <li>
                            <div class="icon-wr"><img src="/icons/sq.svg"/></div>
                            <div class="t">
                                Доставка по России и СНГ почтой и курьерскими службами
                            </div>
                        </li>
                        <li>
                            <div class="icon-wr"><img src="/icons/icon-pay.svg"/></div>
                            <div class="t">
                                Наложенный платеж при получении, оплата картами Visa, Mastercard и Мир
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="right-block">
                <div class="info-wr">
                    <div class="bl1">
                        <div class="wide-name-wr">
                            <div class="name-wr">
                                <h1 class="product-name">Футбольный чемпион</h1>
                                <a href="/category" class="category">Шапка детская</a>
                            </div>
                        </div>

                        <div class="price-block">
                            <span class="price rub-price">440</span>
                            <span class="old-price rub-price">480</span>
                        </div>

                        <div class="articul">
                            Артикул: ushv_Dmks_0056_24
                        </div>

                        <a href="/order" class="add-to-cart-btn btn">Добавить в корзину</a>
                    </div>

                    <div class="bl2">
                        <ul class="params">
                            <li>
                                <div class="n">Размер</div>
                                <div class="v">
                                    50
                                    <a href="#" class="sizes-table-link">Таблица размеров</a>
                                </div>
                            </li>
                            <li>
                                <div class="n">Пол</div>
                                <div class="v">Мальчик</div>
                            </li>
                            <li>
                                <div class="n">Состав</div>
                                <div class="v">50% шерсть/50% акрил</div>
                            </li>
                            <li>
                                <div class="n">Подклада</div>
                                <div class="v">Кулирка/Синтепон</div>
                            </li>
                            <li>
                                <div class="n">Сезон</div>
                                <div class="v">
                                    <span class="season-icon winter"></span>
                                    <span class="season-icon spring"></span>
                                    <span class="season-icon summer"></span>
                                    <span class="season-icon fall"></span>
                                    Лето
                                </div>
                            </li>
                            <? for ($i = 0; $i < 5; $i++): ?>
                                <li class="hidden">
                                    <div class="n">Подклада</div>
                                    <div class="v">Кулирка/Синтепон</div>
                                </li>
                            <? endfor; ?>
                        </ul>

                        <a href="#" class="all-params-link">Все параметры</a>
                    </div>
                </div>

                <div class="wide-variants-wr">
                    <div class="variants-wr">
                        <div class="variants">
                            <div class="variant">
                                <div class="photo-wr">
                                    <img src="/_fake/pm.png" class="photo"/>
                                </div>
                                <span class="discount badge">-20</span>
                            </div>
                            <div class="variant">
                                <div class="photo-wr">
                                    <img src="/_fake/pm.png" class="photo"/>
                                </div>
                                <span class="discount badge">-10</span>
                            </div>
                            <div class="variant">
                                <div class="photo-wr">
                                    <img src="/_fake/pm.png" class="photo"/>
                                </div>
                                <span class="discount badge">-10</span>
                            </div>
                            <div class="variant">
                                <div class="photo-wr">
                                    <img src="/_fake/pm.png" class="photo"/>
                                </div>
                            </div>
                            <div class="variant">
                                <div class="photo-wr">
                                    <img src="/_fake/pm.png" class="photo"/>
                                </div>
                            </div>
                            <div class="variant">
                                <div class="photo-wr">
                                    <img src="/_fake/pm.png" class="photo"/>
                                </div>
                            </div>
                            <div class="variant">
                                <div class="photo-wr">
                                    <img src="/_fake/pm.png" class="photo"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="descr">
                    Отделка: стразики, вышивка, декоративный бантик из шифоновой ленты, пайетки-звёздочки,
                </div>
            </div>

            <a href="#" class="next"></a>
        </div>
        <div class="narrow-prefs-wr"></div>
    </div>
</div>

<script src="/js/libs/slick/slick.min.js"></script>
<script src="/js/product.js?v=<?= filemtime(ROOT_PATH . '/js/product.js'); ?>"></script>