<? $names   = [
    '«Школьная пора Сердечки-крапушки»',
    'Stripe camo',
    '«Кнопочка»',
    'I am your BEAR',
];
$badge_rand = rand(1, 6);
?>
<a href="/product" class="product-cart">
    <div class="bl1">
        <div class="size">
            <div class="caption">размер</div>
            <div class="value">32</div>
        </div>

        <div class="badges">
            <? if ($badge_rand == 1): ?>
                <div class="badge new">NEW</div>
                <div class="badge discount">-10</div>
            <? elseif ($badge_rand == 2): ?>
                <div class="badge popular">ХИТ</div>
            <? elseif ($badge_rand == 3): ?>
                <div class="badge discount">-10</div>
            <? elseif ($badge_rand == 4): ?>
                <div class="badge discount">-10</div>
                <div class="badge new">NEW</div>
                <div class="badge popular">ХИТ</div>
            <? endif; ?>
        </div>

        <div class="photo-wr">
            <img src="/img/_fake/p/<?= rand(1, 3); ?>.jpg"/>
        </div>
    </div>

    <div class="bl2">
        <div onclick="location='/category'" class="category">Шапка детская</div>

        <div class="name">
            <?= $names[array_rand($names)]; ?>
        </div>

        <div class="price-wr">
            <div class="price">
                <span class="old-price rub-price">480</span>
                <span class="current-price rub-price">440</span>
            </div>
        </div>
    </div>

    <div class="to-cart-btn">
        <div class="circle"></div>
        <img src="/img/icons/icon-cart-white.svg" class="icon"/>
    </div>
</a>