<div class="sizes-table-popup">
    <div class="popup-wr2">
        <div class="popup-wr">
            <div class="head">
                <div class="title">Таблица размеров</div>
                <div class="close icon-close"></div>
            </div>
            <div class="table">
                <div class="col">
                    <div class="v h">Возраст</div>
                    <div class="v">0 – 2 мес.</div>
                    <div class="v">3 – 4 мес</div>
                    <div class="v">4 – 6 мес</div>
                    <div class="v">6 – 12 мес</div>
                    <div class="v">1 – 2 лет</div>
                    <div class="v">3 – 5 лет</div>
                    <div class="v">5 – 8 лет</div>
                    <div class="v">8 – 10 лет</div>
                    <div class="v">11 – 13 лет</div>
                    <div class="v">14 – 16 лет</div>
                    <div class="v">17+ лет</div>
                </div>
                <div class="col">
                    <div class="v h">Обхват головы (см)</div>
                    <div class="v">48-50</div>
                    <div class="v">52-54</div>
                    <div class="v">52-54</div>
                    <div class="v">52-54</div>
                    <div class="v">52-54</div>
                    <div class="v">52-54</div>
                    <div class="v">52-54</div>
                    <div class="v">52-54</div>
                    <div class="v">52-54</div>
                    <div class="v">52-54</div>
                    <div class="v">52-54</div>
                </div>
                <div class="col">
                    <div class="v h">Размер</div>
                    <div class="v">48-50</div>
                    <div class="v">52-54</div>
                    <div class="v">52-54</div>
                    <div class="v">52-54</div>
                    <div class="v">52-54</div>
                    <div class="v">52-54</div>
                    <div class="v">52-54</div>
                    <div class="v">52-54</div>
                    <div class="v">52-54</div>
                    <div class="v">52-54</div>
                    <div class="v">52-54</div>
                </div>
            </div>
            <img src="/img/hint.svg" class="hand"/>
            <a href="#" class="close btn btn-outline">Закрыть</a>
        </div>
    </div>
</div>