<div class="about-page ">
    <h1 class="page-title">Компания</h1>

    <ul class="contacts-list">
        <li>
            <img src="/img/icons/icon_phone.svg">
            <a href="tel:88002502629" class="phone">8 800 250-26-29</a>
        </li>
        <li>
            <img src="/img/icons/icon_mail.svg" class="icon-mail">
            <a href="mailto:mail@anegorka.ru" class="email">mail@anegorka.ru</a>
        </li>
        <li class="address">
            <img src="/img/icons/icon_pin.svg">
            <span>Ставропольский&nbsp;край, Карачаево-Черкесская Республика, г.&nbsp;Усть-Джегута, Ул.&nbsp;Шевченко, д.&nbsp;7</span>
        </li>
    </ul>

    <div class="map" id="map"></div>

    <div class="about-text">
        <div class="text-wrap">
            <div class="title h2">О фабрике</div>
            <p>В нашем интернет магазине мы представляем детские головные уборы собственного производства.
            </p>
            <p>
                Наша компания занимается производством и продажей детских головных уборов. Но наш ассортимент не
                ограничивается только лишь головными уборами. Также мы производим оригинальные шлемы, шарфы,
                манишки, косынки и кофты и джемпера для детей от рождения до подростков.
            </p>
            <p>
                Наша продукция Вам понравится в первую очередь из-за ее качества, оригинальности, стиля и
                оригинальных украшений, а во-вторых мы всегда готовы выслушать все пожелания и потребности наших
                покупателей. Вы можете посмотреть и выбрать в заказ наши изделия как на сайте anegorka.ru, так и у
                нас в отделе продаж в демонстрационном зале при производстве.</p>
        </div>
    </div>

    <div class="about-photo"></div>

    <form class="form feedback-form" action="/feedback" method="post">
        <div class="title">Отправьте ваши вопросы или&nbsp;предложения</div>

        <div class="row">
            <div class="input-block req">
                <div class="name">Имя, фамилия</div>
                <input type="text"/>
            </div>
            <div class="input-block req">
                <div class="name">Компания</div>
                <input type="text"/>
            </div>
        </div>

        <div class="row">
            <div class="input-block req">
                <div class="name">Email</div>
                <input type="email"/>
            </div>
            <div class="input-block req">
                <div class="name">Телефон</div>
                <input type="text"/>
            </div>
        </div>

        <div class="input-block req">
            <div class="name">Сообщение</div>
            <textarea></textarea>
        </div>

        <button class="btn submit">Отправить</button>

        <div class="disclaimer">
            Нажимая на кнопку «Отправить», Вы соглашаетесь на обработку персональных данных, согласно Положения
            о конфиденциальности и защите персональных данных.
        </div>
    </form>
</div>

<script src="/js/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHqgO2Sv3zglTy4Qbuy-6wkpThAR-ToTQ&callback=initMap"></script>
<script>
    $(function () {

    });
</script>