<? $colors = [
    '#4B4B4B',
    '#DCDEE0',
    '#ffffff',
    '#AB936E',
    '#E11414',
    '#FF4040',
    '#FFD7C8',
    '#FF9C00',
    '#FFCE81',
    '#FFF425',
    '#FCF8C8',
    '#35B556',
    '#D5F6C9',
    '#1B42BD',
    '#4AA3FF',
    '#D0EDFE',
    '#AD13BD',
    '#D096D6',
    '#FFD8E8',
    '#FFD7C8',
    '#C9E8F2',
    '#99BDB6',
    '#DAECFF',
    '#704603',
    '#C8F0D3',
    '#A9768B',
    '#8D8D8D',
]; ?>
<div class="category-page">
    <div class="categories-block">
        <div class="caption">Выберите категорию:</div>
        <nav>
            <a href="#" class="selected">Все&nbsp;шапки</a>
            <a href="#">Новинки</a>
            <a href="#">Скидки</a>
            <a href="#">Девочки</a>
            <a href="#">Мальчики</a>
            <a href="#">Малыши</a>
        </nav>
    </div>

    <div class="mobile-filter">
        <div class="switch-filter-btn">
            Фильтр
        </div>

        <div class="change-mode-wr">
            <span class="active" data-mode="one-col"><img src="/img/icons/icon-cat-card.svg"/></span>
            <span data-mode="two-cols"><img src="/img/icons/icon-cat-list.svg"/></span>
            <span data-mode="table"><img src="/img/icons/icon-cat-table.svg"/></span>
        </div>
    </div>

    <div class="category-filters">
        <div class="filter-block">
            <div class="filter-item">
                <div class="name">Размер</div>
                <div class="dropdown-list">
                    <div class="value">Любой</div>
                    <ul class="options">
                        <li>10</li>
                        <li>11</li>
                        <li>12</li>
                    </ul>
                </div>
            </div>

            <div class="filter-item">
                <div class="name">Вид шапки</div>
                <div class="dropdown-list">
                    <div class="value">Все шапки</div>
                    <ul class="options">
                        <li>Вязаные шапки с завязками</li>
                        <li>Особые шапки</li>
                        <li>Эксклюзивные шапки</li>
                        <li>Чудо-шапки</li>
                    </ul>
                </div>
            </div>
            <div class="filter-item">
                <div class="name">Подкладка</div>
                <div class="dropdown-list">
                    <div class="value">Кулирка/Синтепон</div>
                    <ul class="options">
                        <li>Без подклады</li>
                        <li>Велсофт</li>
                        <li>Вязаная</li>
                        <li>Кулирка</li>
                        <li>Кулирка/Синтепон</li>
                        <li>Рибана</li>
                        <li>Флис</li>
                        <li>Х/б подклада</li>
                    </ul>
                </div>
            </div>
            <div class="filter-item">
                <div class="name">Сезон</div>
                <div class="dropdown-list">
                    <div class="value">Любой</div>
                    <ul class="options">
                        <li>Весна</li>
                        <li>Осень</li>
                        <li>Зима</li>
                    </ul>
                </div>
            </div>
            <div class="filter-item">
                <div class="name">Сортировка</div>
                <div class="dropdown-list">
                    <div class="value">Сначала низкая цена</div>
                    <ul class="options">
                        <li>Сначала низкая цена</li>
                        <li>Сначала высокая цена</li>
                        <li>По названию</li>
                        <li>По популярности</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="colors-block compact">
            <ul class="colors">
                <? foreach ($colors as $color): ?>
                    <li style="background-color: <?= $color; ?>" <?= $color === '#ffffff' ? 'class="white"' : ""; ?>></li>
                <? endforeach; ?>
            </ul>
            <a href="#" class="expand-btn">+</a>
        </div>

        <a href="#" class="btn btn-outline set-filter-btn">Фильтровать</a>
    </div>

    <div class="products-mesh one-col">
        <? for ($i = 0; $i < 12; $i++): ?>
            <? include('product-cart.phtml'); ?>
        <? endfor; ?>
    </div>
    <div class="btn-center">
        <a href="#" class="btn btn-outline">Показать еще</a>
    </div>
</div>

<script src="/js/category.js?v=<?= filemtime(ROOT_PATH . '/js/category.js'); ?>"></script>