<div class="delivery-page">
    <div class="text-wrap">
        <h1 class="page-title">Доставка</h1>

        <p>
            Доставка розничных заказов осуществляется транспортной компанией СДЭК. Стоимость доставки оплачивается
            покупателем. <br/>
            Другие способы доставки возможны по согласованию с менеджером.
        </p>

        <div class="delivery-companies">
            <img src="/img/assets/logo_cdek.png">
            <img src="/img/assets/logo_kit.png">
            <img src="/img/assets/logo_energiya.png">
            <img src="/img/assets/logo_dhl.png">
            <img src="/img/assets/logo_spsr.png">
        </div>


        <h1 class="h1">Оплата</h1>

        <p>
            После создания заказа на ваш E-mail поступит письмо с указанием статуса заказа. Оплата будет возможна после
            подтверждения заказа менеджером. Обязательно дождитесь подтверждения вашего заказа менеджером магазина.
        </p>

        <div class="h3">Наложенный платеж</div>
        <p>
            Розничные заказы могут быть оплачены при получение, в случае наличия данной услуги у транспортной компании
            осуществляющей доставку Вашего заказа.
        </p>

        <div class="h3">Оплата с помощью банковской карты</div>
        <p>
            Оплата картой возможна как для розничных заказов, так и для оптовых (при оплате с карты привязанной к
            расчетному счету). Оплата банковской картой происходит через авторизационный сервер Процессингового центра
            Банка ПАО "Сбербанк России" с использованием Банковских кредитных карт следующих платежных систем:
        </p>

        <ul class="payment-methods">
            <li>
                <img src="/img/pay/btn-pay-01-07.png">
                VISA&nbsp;International
            </li>
            <li>
                <img src="/img/pay/btn-pay-01-06.png">
                MasterCard&nbsp;World&nbsp;Wide
            </li>
        </ul>

        <div class="pay-wrap">
            <div class="text-block">
                <div class="h3">Описание процесса передачи данных</div>
                <p>
                    Для оплаты покупки Вы будете перенаправлены на платежный шлюз ПАО "Сбербанк России" для ввода
                    реквизитов Вашей карты. Пожалуйста, приготовьте Вашу пластиковую карту заранее. Соединение с
                    платежным шлюзом и передача информации осуществляется в защищенном режиме с использованием протокола
                    шифрования SSL.
                </p>
                <p>
                    В случае если Ваш банк поддерживает технологию безопасного проведения интернет-платежей Verified By
                    Visa или MasterCard Secure Code для проведения платежа также может потребоваться ввод специального
                    пароля. Способы и возможность получения паролей для совершения интернет-платежей Вы можете уточнить
                    в банке, выпустившем карту.
                </p>
                <p>
                    Платежный шлюз поддерживает 258-битное шифрование. Конфиденциальность сообщаемой персональной
                    информации обеспечивается ОАО "Сбербанк России". Введенная информация не будет предоставлена третьим
                    лицам за исключением случаев, предусмотренных законодательством РФ. Проведение платежей по
                    банковским картам осуществляется в строгом соответствии с требованиями платежных систем Visa Int. и
                    MasterCard Europe Sprl.
                </p>


                <div class="h3">Описание процессa оплаты</div>
                <p>
                    После подтверждения заказа менеджером Вы будете уведомлены об изменении статуса заказа по E-mail и
                    сможете перейти к оплате на странице заказа, перейдя по ссылке в письме. После нажатия на кнопку
                    «Оплата банковской картой» система переведёт Вас на страницу авторизационного сервера Сбербанка, где
                    Вам будет предложено ввести данные пластиковой карты и инициировать ее авторизацию.
                </p>
            </div>

            <div class="mnm">
                <div class="h3">Что нужно знать:</div>
                <img src="/img/pay/btn-pay-01-02.png" class="card">
                <ul class="marked">
                    <li>номер вашей кредитной карты;</li>
                    <li>cрок окончания действия вашей кредитной карты, месяц/год;</li>
                    <li>CVV код для карт Visa / CVC код для Master Card;</li>
                    <li>3 последние цифры на полосе для подписи на обороте карты.</li>
                </ul>
                <p>
                    Если на вашей карте код CVC / CVV отсутствует, то, возможно, карта не пригодна для CNP транзакций
                    (т.е. таких транзакций, при которых сама карта не присутствует, а используются её реквизиты), и вам
                    следует обратиться в банк для получения подробной информации.
                </p>
            </div>
        </div>


        <div class="h3">При аннулировании заказа</div>
        <p>
            Для аннулирования уже оплаченного заказа вы должны обратиться к менеджеру магазина. Необходимо будет
            указать номер заказа.
        </p>

        <div class="h3">Оплата по банковским картам VISA</div>
        <div class="cards">
            <img src="/img/pay/card1.png"/>
            <img src="/img/pay/card2.png"/>
            <img src="/img/pay/card3.png"/>
            <img src="/img/pay/card4.png"/>
        </div>
        <p>
            К оплате принимаются все виды платежных карточек VISA, за исключением Visa Electron. В
            большинстве случаев карта Visa Electron не применима для оплаты через интернет, за исключением
            карт, выпущенных отдельными банками. О возможность оплаты картой Visa Electron вам нужно
            выяснять у банка-эмитента вашей карты.
        </p>

        <div class="h3">Оплата по кредитным картам MasterCard</div>
        <div class="cards">
            <img src="/img/pay/card5.png"/>
            <img src="/img/pay/card6.png"/>
            <img src="/img/pay/card7.png"/>
            <img src="/img/pay/card8.png"/>
            <img src="/img/pay/card9.png"/>
        </div>
        <p>
            На сайте к оплате принимаются все виды MasterCard, за исключением Maestro.
        </p>
    </div>
</div>