<div class="index-page">
    <div class="top-block" style="background-image: url('/img/main-banner.jpg')">
        <div class="c">
            <div class="t">НОВИНКИ</div>
            <div class="year">
                20<span class="red">18</span>
            </div>
            <div class="t2">Более 150 новых моделей</div>
            <a href="/catalog" class="btn">Показать все</a>
        </div>
    </div>

    <nav class="categories-block" data-count="6">
        <a href="/category" style="background-image: url('/img/main-banner.jpg">
            <div class="name">Для Малышей</div>
        </a>
        <a href="/category" style="background-image: url('/img/main-banner.jpg">
            <div class="name">Для девочек</div>
        </a>
        <a href="/category" style="background-image: url('/img/main-banner.jpg">
            <div class="name">для мальчиков</div>
        </a>

        <a href="/category" style="background-image: url('/img/main-banner.jpg">
            <div class="name">Для подростков</div>
        </a>
        <a href="/category" style="background-image: url('/img/main-banner.jpg">
            <div class="name">ШАРФЫ</div>
        </a>
        <a href="/category" style="background-image: url('/img/main-banner.jpg">
            <div class="name">ОСЕННЯЯ КОЛЛЕКЦИЯ</div>
        </a>
    </nav>

    <ul class="products-mesh">
        <? for ($i = 0; $i < 6; $i++): ?>
                <? include('product-cart.phtml'); ?>
        <? endfor; ?>
    </ul>

    <a href="/category" class="collection-block"></a>

    <div class="products-block">
        <ul class="products-mesh">
            <? for ($i = 0; $i < 3; $i++): ?>
                    <? include('product-cart.phtml'); ?>
            <? endfor; ?>
        </ul>

        <div class="btn-center">
            <a href="#" class="btn btn-outline">Показать еще</a>
        </div>
    </div>
</div>