<div class="order-final">
    <div class="page-wr">
        <div class="page-title">Заказ оформлен!</div>
        <div class="params">
            <div class="param">
                <span class="n">Номер заказа</span>
                <span class="v">4542525</span>
            </div>
            <div class="param">
                <span class="n">Форма оплаты</span>
                <span class="v">VISA International</span>
            </div>
            <div class="param">
                <span class="n">Доставка</span>
                <span class="v">СДЭК</span>
            </div>
            <div class="param">
                <span class="n">Имя</span>
                <span class="v">Иванов Иван Иванович</span>
            </div>
            <div class="param">
                <span class="n">Адрес</span>
                <span class="v">г. Ставрополь, ул. Ленина, д. 111</span>
            </div>
            <div class="param">
                <span class="n">Email</span>
                <span class="v">mail@mail.com</span>
            </div>
            <div class="param">
                <span class="n">Номер телефона</span>
                <span class="v">+ 7 999 000 33 22</span>
            </div>
            <div class="param summary">
                <span class="n">Общая сумма:</span>
                <span class="v">
                    <span class="sum rub-price">1580</span>
                </span>
            </div>
        </div>

        <a href="/" class="btn to-shop-link">Вернуться в магазин</a>
    </div>
</div>