<div class="order-page">
    <h1 class="page-title">Корзина</h1>

    <ul class="products-table">
        <li class="product">
            <div class="left-block">
                <div class="photo-wr">
                    <img src="/img/_fake/p/1.jpg"/>
                    <div class="size">
                        размер
                        <span class="value">32</span>
                    </div>
                </div>

                <div class="product-info">
                    <a href="/category" class="category">Шапка детская</a>
                    <a href="/product" class="name">«Футбольный чемпион»</a>
                    <div class="articul">Артикул: ushv_Dmks_0056_24</div>
                </div>

                <div class="amount-selector">
                    <div class="minus"></div>
                    <input type="text" class="amount" name="amounts[]" value="1">
                    <div class="plus"></div>
                </div>
            </div>

            <div class="right-block">
                <div class="discount-block">
                    <div class="badge discount">-10</div>
                </div>
                <div class="sum-block">
                    <span class="price rub-price">480</span>
                    <span class="old-price rub-price">480</span>
                </div>

                <a href="#" class="remove">
                    <span class="icon icon-close"></span>
                    Удалить
                </a>
            </div>
        </li>

        <li class="product">
            <div class="left-block">
                <div class="photo-wr">
                    <img src="/img/_fake/p/2.jpg"/>
                    <div class="size">
                        размер
                        <span class="value">32</span>
                    </div>
                </div>
                <div class="product-info">
                    <a href="/category" class="category">Шапка детская</a>
                    <a href="/product" class="name">
                        «Школьная пора Сердечки-крапушки»
                    </a>
                    <div class="articul">Артикул: ushv_Dmks_0056_24</div>
                </div>

                <div class="amount-selector">
                    <div class="minus"></div>
                    <input type="text" class="amount" name="amounts[]" value="2">
                    <div class="plus"></div>
                </div>
            </div>

            <div class="right-block">
                <div class="sum-block">
                    <div class="price rub-price">1100</div>
                </div>

                <a href="#" class="remove">
                    <span class="icon icon-close"></span>
                    Удалить
                </a>
            </div>
        </li>
    </ul>

    <div class="summary-block">
        <div class="info">
            <div class="sum-wr">
                Общая сумма заказа:
                <span class="sum rub-price">1580</span>
            </div>
            <div class="discount-wr">
                <span class="badge discount pink">-10</span>
                от суммы заказа
            </div>
        </div>

        <div class="summary">
            К оплате:
            <span class="sum rub-price">
                1400
            </span>
        </div>
    </div>

    <div class="delivery-payment-block">
        <div class="block">
            <div class="block-title">
                Форма оплаты
                <a href="/delivery" class="info"><span class="icon-icon-help"></span></a>
            </div>
            <label>
                <input type="radio" name="payment" checked/><i></i> <span>Наложенный платеж</span>
            </label>
            <label>
                <input type="radio" name="payment"/><i></i>
                <span>Банковская карта</span>
                <img src="/img/cards.png" class="cards"/>
            </label>
        </div>

        <div class="block">
            <div class="block-title">
                Доставка
                <a href="/delivery" class="info"><span class="icon-icon-help"></span></a>
            </div>
            <label>
                <input type="radio" name="delivery" checked/><i></i> <span>СДЭК</span>
            </label>
            <label>
                <input type="radio" name="delivery"/><i></i> <span>ТК «Кит»</span>
            </label>
            <label>
                <input type="radio" name="delivery"/><i></i> <span>ТК «Энергия»</span>
            </label>
            <label>
                <input type="radio" name="delivery"/><i></i> <span>DHL</span>
            </label>
            <label>
                <input type="radio" name="delivery"/><i></i> <span>СПСР</span>
            </label>
        </div>
    </div>

    <div class="customer-block form">
        <div class="block-title">Данные покупателя</div>
        <div class="row">
            <div class="input-block req">
                <div class="name">Имя, фамилия</div>
                <input type="text"/>
            </div>
            <div class="input-block req">
                <div class="name">Адрес доставки</div>
                <input type="text"/>
            </div>
        </div>

        <div class="row">
            <div class="input-block req">
                <div class="name">Email</div>
                <input type="text"/>
            </div>
            <div class="input-block req">
                <div class="name">Телефон</div>
                <input type="text"/>
            </div>
        </div>

        <div class="input-block req">
            <div class="name">Комментарий к заказу</div>
            <textarea></textarea>
        </div>

        <div class="bottom">
            <div class="summary">
                К оплате:
                <span class="sum rub-price">1400</span>
            </div>
            <button class="btn" onclick="location='/order-final'">Подтвердить заказ</button>
        </div>

        <div class="disclaimer">
            Нажимая на кнопку «Подтвердить заказ», Вы соглашаетесь на обработку персональных данных, согласно Положения
            о конфиденциальности и защите персональных данных.
        </div>
    </div>
</div>
<script src="/js/order.js?v=<?= filemtime(ROOT_PATH . '/js/order.js'); ?>"></script>