<div class="product-page">
    <div class="product-page-wr">

        <div class="product-page-layout">
            <div class="mobile-name-wr"></div>

            <a href="#" class="prev"></a>

            <div class="left-block">
                <div class="badges">
                    <div class="badge discount">-10</div>
                    <div class="badge new">NEW</div>
                    <div class="badge popular">ХИТ</div>
                </div>

                <div class="photo-wr">
                    <img src="/img/_fake/p.jpg" class="photo"/>
                </div>

                <div class="narrow-variants-wr">
                </div>

                <div class="wide-prefs-wr">
                    <ul class="prefs">
                        <li>
                            <div class="icon-wr"><img src="/img/icons/icon-sale.svg"/></div>
                            <div class="t">
                                Скидка -10% на общую сумму заказа от 1000 руб.
                            </div>
                        </li>
                        <li>
                            <div class="icon-wr"><img src="/img/icons/sq.svg"/></div>
                            <div class="t">
                                Доставка по России и СНГ почтой и курьерскими службами
                            </div>
                        </li>
                        <li>
                            <div class="icon-wr"><img src="/img/icons/icon-pay.svg"/></div>
                            <div class="t">
                                Наложенный платеж при получении, оплата картами Visa, Mastercard и Мир
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="right-block">
                <div class="info-wr">
                    <div class="bl1">
                        <div class="wide-name-wr">
                            <div class="name-wr">
                                <h1 class="product-name">Футбольный чемпион</h1>
                                <a href="/category" class="category">Шапка детская</a>
                            </div>
                        </div>

                        <div class="price-block">
                            <span class="price rub-price">440</span>
                            <span class="old-price rub-price">480</span>
                        </div>

                        <div class="articul">
                            Артикул: ushv_Dmks_0056_24
                        </div>

                        <a href="/order" class="add-to-cart-btn btn">Добавить в корзину</a>
                    </div>

                    <div class="bl2">
                        <ul class="params">
                            <li>
                                <div class="n">Размер</div>
                                <div class="v">
                                    50
                                    <a href="#" class="sizes-table-link">Таблица размеров</a>
                                </div>
                            </li>
                            <li>
                                <div class="n">Пол</div>
                                <div class="v">Мальчик</div>
                            </li>
                            <li>
                                <div class="n">Состав</div>
                                <div class="v">50% шерсть/50% акрил</div>
                            </li>
                            <li>
                                <div class="n">Подклада</div>
                                <div class="v">Кулирка/Синтепон</div>
                            </li>
                            <li>
                                <div class="n">Сезон</div>
                                <div class="v">
                                    <span class="season-icon winter"></span>
                                    <span class="season-icon spring"></span>
                                    <span class="season-icon summer"></span>
                                    <span class="season-icon fall"></span>
                                    Лето
                                </div>
                            </li>
                            <? for ($i = 0; $i < 5; $i++): ?>
                                <li class="hidden">
                                    <div class="n">Подклада</div>
                                    <div class="v">Кулирка/Синтепон</div>
                                </li>
                            <? endfor; ?>
                        </ul>

                        <a href="#" class="all-params-link">Все параметры</a>
                    </div>
                </div>

                <div class="wide-variants-wr">
                    <div class="variants-wr">
                        <div class="variants">
                            <div class="variant">
                                <div class="photo-wr">
                                    <img src="/img/_fake/pm.png" class="photo"/>
                                </div>
                                <span class="discount badge">-20</span>
                            </div>
                            <div class="variant">
                                <div class="photo-wr">
                                    <img src="/img/_fake/pm.png" class="photo"/>
                                </div>
                                <span class="discount badge">-10</span>
                            </div>
                            <div class="variant">
                                <div class="photo-wr">
                                    <img src="/img/_fake/pm.png" class="photo"/>
                                </div>
                                <span class="discount badge">-10</span>
                            </div>
                            <div class="variant">
                                <div class="photo-wr">
                                    <img src="/img/_fake/pm.png" class="photo"/>
                                </div>
                            </div>
                            <div class="variant">
                                <div class="photo-wr">
                                    <img src="/img/_fake/pm.png" class="photo"/>
                                </div>
                            </div>
                            <div class="variant">
                                <div class="photo-wr">
                                    <img src="/img/_fake/pm.png" class="photo"/>
                                </div>
                            </div>
                            <div class="variant">
                                <div class="photo-wr">
                                    <img src="/img/_fake/pm.png" class="photo"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="descr">
                    Отделка: стразики, вышивка, декоративный бантик из шифоновой ленты, пайетки-звёздочки,
                </div>
            </div>

            <a href="#" class="next"></a>
        </div>
        <div class="narrow-prefs-wr"></div>
    </div>
</div>

<? include('sizes-table.phtml'); ?>

<script src="/js/libs/slick/slick.min.js"></script>
<script src="/js/product.js?v=<?= filemtime(ROOT_PATH . '/js/product.js'); ?>"></script>