@media screen and (max-width: @max_width_320) {
    .about-page {
        .page-title {
            padding-left: 14px;
        }
        .contacts-list {
            flex-wrap: wrap;
            flex-direction: column;
            padding: 13px 18px 0;
            margin-bottom: 11px;
            li {
                margin: 0 0 20px !important;
                width: 100% !important;
                line-height: 1.5;
            }
        }
        .map {
            height: 408px;
            margin-bottom: 29px;
        }

        .about-text {
            padding: 0 20px;
        }
        .about-photo {
            height: 233px;
            margin-bottom: 40px;
        }
        .feedback-form {
            max-width: 600px;
            .title {
                margin: 0 auto 30px;
            }
            .disclaimer {
                width: 100%;
            }
        }
    }
}