@media screen and (max-width: @max_width_320) {
    .category-page {
        .categories-block {
            overflow-x: auto;
            nav {
                a {
                    margin-right: 24px;
                    text-align: center;
                }
            }
        }
        .category-filters {
            display: none;
        }
        .filter-block {
            flex-direction: column;
            padding: 0 20px;
            margin-bottom: 0px;
            .filter-item {
                margin-right: 0;
                .dropdown-list {
                    min-width: initial !important;
                    width: 100% !important;
                }
            }
        }

        .mobile-filter {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;
            margin-bottom: 27px;
            .switch-filter-btn {
                background: #FFFFFF;
                border: 1px solid #828594;
                height: 40px;
                position: relative;
                cursor: pointer;
                padding-right: 20px;
                width: calc(~"100% - 60px");
                display: flex;
                align-items: center;
                justify-content: center;
                text-transform: uppercase;
                font-weight: 600;
                &:after {
                    content: '';
                    position: absolute;
                    right: 15px;
                    top: 16px;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 7px 5px 0 5px;
                    border-color: #ff4040 transparent transparent transparent;
                    transition: .2s;
                }
                &.opened:after {
                    border-width: 0 5px 7px 5px;
                    border-color: transparent transparent #ff4040 transparent;
                }
            }
            .change-mode-wr {
                width: 40px;
                height: 40px;
                display: flex;
                cursor: pointer;
                align-items: center;
                justify-content: center;
                span {
                    display: none;
                    &.active {
                        display: block;
                    }
                }
            }
        }

        .colors-block {
            padding: 0 20px 20px 20px;
            &.compact {
                border: none;
                padding: 0 40px 20px 20px;
            }
            .colors {
                justify-content: center;
                li {
                    margin: 0 18px 13px 0;
                }
            }
            .expand-btn {
                right: 20px;
            }
        }

        .products-mesh {
            padding-top: 10px;
        }

        .set-filter-btn {
            margin: 10px auto 30px;
            display: block;
            width: 270px;
        }
    }
}