@media screen and (max-width: @max_width_320) {
    p {
        max-width: 100%;
    }

    .h1 {
        font-size: 24px;
    }

    .h2 {
        font-size: 24px;
    }

    .h3 {
        font-size: 18px;
    }

    .page-title {
        margin-top: 18px;
        font-size: 24px;
    }

    .products-mesh {
        padding: 0;
        flex-direction: row;
        justify-content: center;
        &.two-cols {
            flex-direction: row;
            justify-content: space-between;
            padding: 10px;
            .product-cart {
                width: calc(~"(100% - 10px)/2") !important;
                height: 347px;
                margin: 0 0 16px;
                .badges {
                    top: 9px;
                    .badge {
                        font-size: 13px;
                        height: 20px;
                        padding: 1px 6px;
                        line-height: 19px;
                    }
                }
                .name {
                    font-size: 14px;
                    height: 73px;
                }
                .photo-wr {
                    height: 171px;
                    padding-top: 0;
                }
                .size {
                    display: none;
                }
                .price-wr {
                    .price {
                        display: flex;
                        flex-direction: column-reverse;
                        align-items: center;
                        .old-price {
                            position: relative;
                            right: 0;
                            top: 0;
                        }
                    }
                }
            }
        }

        &.table {
            margin-top: -32px;
            .product-cart:not(:last-child) {
                border-bottom: 2px solid #EBECED;
            }
            .product-cart {
                height: auto;
                box-shadow: none;
                width: calc(~"100% - 20px");
                display: flex;
                align-items: flex-start;
                margin: 0 auto;
                padding: 32px 0 25px;
                .bl1 {
                    width: 148px;
                    margin-right: 10px;
                    display: flex;
                    flex-direction: column-reverse;
                }
                .bl2 {
                    text-align: left;
                    width: calc(~"100% - 158px");
                }
                .photo-wr {
                    margin-bottom: 3px;
                    height: 101px;
                    padding-top: 0;
                }
                .size {
                    display: none;
                }
                .category {
                    margin-bottom: 8px;
                }
                .name {
                    height: auto;
                    font-size: 14px;
                    line-height: 20px;
                    margin-bottom: 11px;
                }
                .badges {
                    position: relative;
                    top: 0;
                    .badge {
                        font-size: 13px;
                        height: 20px;
                        padding: 1px 6px;
                        line-height: 19px;
                    }
                }
                .price-wr {
                    .price {
                        display: flex;
                        flex-direction: row-reverse;
                        align-items: center;
                        justify-content: flex-end;
                        .current-price {
                            margin-right: 11px;
                        }
                        .old-price {
                            position: relative;
                            top: 0;
                            left: 0;
                        }
                    }
                }
            }
        }

        .product-cart {
            width: calc(~"50% - 30px");
            margin: 0 10px 20px;
            height: 398px;
            .photo-wr {
                height: 270px;
                padding-top: 40px;
            }
            .category {
                margin-bottom: 7px;
            }
            .name {
                height: 43px;
            }
            .size {
                transform: none;
                opacity: 1;
            }
            .to-cart-btn {
                display: none !important;
            }
        }
        .collection-block {
            margin-bottom: 16px;
        }
    }

    .form {
        padding: 0 20px;
        .row {
            display: block;
            .input-block {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .products-mesh {
        .product-cart {
            width: 100%;
        }
    }
}
