@media screen and (max-width: @max_width_320) {
    .delivery-page {
        padding: 0 20px;
        .page-title {
            margin-bottom: 14px;
        }
        .delivery-companies {
            padding: 9px 0 13px;
            justify-content: space-between;
            img {
                margin-bottom: 22px;
                margin-right: 0;
                max-width: 47%;
            }
        }
        .pay-wrap {
            .text-block {

            }
            .mnm {
                margin-left: -20px;
                width: calc(~"100% + 40px");
                padding: 4px 20px 28px;
                .card {
                    max-width: 100%;
                    margin-bottom: 24px;
                }
            }
        }
        .h3 {
            margin-top: 28px;
        }
        .payment-methods {
            padding: 16px 0 0px 0px;
            display: block;
            margin-bottom: 42px;
            li {
                margin: 0 0 32px 0;
            }
        }
    }
}