@media screen and (max-width: @max_width_320) {
    .index-page {
        .top-block {
            height: 208px;
            margin-bottom: 268px;
            .c {
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                text-align: center;
                padding-top: 28px;
                background: #fff;
                padding-bottom: 32px;
                .t {
                    font-size: 18px;
                    letter-spacing: 18.62px;
                }
                .year {
                    font-size: 93px;
                    margin-bottom: -12px;
                }
                .t2 {
                    font-size: 16px;
                }
                .btn {
                    padding: 0 31px;
                    line-height: 50px;
                }
            }
        }

        .categories-block {
            padding: 32px 20px;
            a {
                height: 165px;
				width: 100% !important;
                margin: 0 0 10px;
                .name {
                    padding: 18px 5px;
                }
            }
        }

        .collection-block {
            display: none;
        }
    }
}