@import "./index";
@import "./category";
@import "./product";
@import "./order";
@import "./order-final";
@import "./about";
@import "./delivery";
@import "./common";
@import "./sizes-table-popup";
@import 'popup';

@media screen and (max-width: @max_width_320) {
    body {
        position: relative;
        &.mobile-menu-opened {
            > .main-content {
                display: none;
            }
            > aside {
                display: flex;
            }
        }
        &.showed-table-popup {
            header, .product-page {
                display: none;
            }
        }

        > .main-content {
            width: 100%;
            margin-left: 0;
        }

        > aside {
            display: none;
            width: 100%;
            align-items: stretch;
            flex-direction: row-reverse;
            position: relative;
            min-height: 100vh;
            height: initial;
            .mobile-sidebar {
                width: 56px;
                justify-content: flex-start;
                background: #FF4040;
                height: auto;
                .categories {
                    display: none;
                }
                .sn {
                    display: flex;
                    margin-top: 99px;
                    a {
                        padding: 12px 0;
                    }
                }
                .open-menu-icon {
                    display: none;
                }
                .close-menu-icon {
                    display: block;
                    padding: 25px 0;
                    font-size: 23px;
                    margin-bottom: 5px;
                }
                .search-cart {
                    display: none !important;
                }
            }

            .sidebar {
                position: relative;
                left: 0;
                justify-content: flex-start;
                width: calc(~"100% - 56px");
                .top {
                    height: 89px;
                    .default-top, .scrolled-top {
                        display: none !important;
                    }
                    .mobile-top {
                        display: flex;
                        align-items: center;
                        font-size: 30px;
                        justify-content: space-between;
                        padding: 20px 24px;
                        .logo {
                            img {
                                width: 51px;
                            }
                        }
                        .cart {
                            color: @red;
                            font-size: 25px;
                        }
                        .phone-icon {
                            font-size: 26px;
                        }
                    }
                }

                .links {
                    margin-bottom: 5px;
                    .categories {
                        margin-bottom: 19px;
                        a {
                            .icon-wr {
                                width: 54px;
                            }
                        }
                    }
                    .pages {
                        padding-top: 0;
                        a {
                            text-align: left;
                            padding: 0 0 0 35px;
                            margin: 0 0 28px 0;
                        }
                    }
                }

                footer {
                    align-items: flex-start;
                    padding-left: 35px;
                }
            }
        }

        header {
            height: 78px;
            padding-left: 150px;
            justify-content: flex-end;
            .logo {
                display: block;
                width: auto;
                padding-left: 20px;
                position: absolute;
                left: 0;
                .logo-mobile {
                    display: block;
                    width: 105px;
                }
                .logo-min {
                    display: none;
                }
            }
            .right-block {
                padding-right: 0;
                height: 100%;
            }
            .left-block {
                height: 100%;
            }
            .main-menu, .discount-link, .search-icon {
                display: none;
            }
            .phone {
                font-size: 0;
                height: 100%;
                display: flex;
                align-items: center;
                padding: 0 14px;
                .icon {
                    display: block;
                    font-size: 27px;
                }
            }
            .cart {
                top: 0;
                height: 100%;
                padding: 0px 19px 3px;
                .sum {
                    display: none;
                }
                .icon {
                    margin-right: 0;
                    font-size: 26px;
                }
            }

            .open-mobile-menu {
                font-size: 24px;
                padding: 0 15px;
                height: 100%;
                display: flex;
                align-items: center;
                cursor: pointer;
            }
        }
    }
}