@media screen and (max-width: @max_width_320) {
    .order-page {
        overflow: hidden;
        .page-title {
            padding-left: 20px;
            margin-bottom: 24px;
        }
        .products-table {
            flex-direction: column;
            width: 100%;
            padding: 0 20px;
            li {
                width: 100%;
                margin: 0 0 20px 0;
                height: 486px;
                .photo-wr {
                    height: 192px;
                }
                .product-info {
                    .articul {
                        bottom: 20px;
                    }
                }
                .sum-block {
                    top: 324px;
                }
            }
        }

        .summary-block {
            padding: 9px 0 31px;
            .info {
                flex-direction: column;
                margin-bottom: 22px;
                .sum-wr {
                    margin-bottom: 8px;
                }
            }
        }
        .delivery-payment-block {
            text-align: left;
            padding: 33px 51px 15px;
            .block {
                &:not(:last-child) {
                    margin-bottom: 40px;
                }
                label {
                    margin: 0 0 24px;
                    display: block;
                    .cards {
                        margin: 12px 0 0 29px;
                        display: block;
                    }
                }
            }
        }
        .customer-block {
            width: 100%;
            padding: 32px 20px;
            .block-title {
                margin-bottom: 33px;
                text-align: left;
            }
            .bottom {
                flex-direction: column;
                padding: 0;
                margin: -8px 0 33px;
                .summary {
                    margin: 0 0 20px;
                }
                .btn {
                    width: 100%;
                }
            }
            .disclaimer {
                width: 100%;
                line-height: 1.6;
                padding: 0 4px;
            }
        }
    }
}