@media screen and (max-width: @max_width_320) {
    .order-final {
        padding-bottom: 50px;
        .page-wr {
            width: 100%;
            padding: 0 20px;
            .page-title {
                margin-bottom: 26px;
            }
            .params {
                height: auto;
                .param {
                    flex-direction: column;
                    align-items: flex-start;
                    margin-bottom: 20px;
                    height: auto;
                    &.summary {
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        padding-top: 8px;
                        .n {
                            margin-bottom: 0;
                            margin-right: 15px;
                        }
                    }
                    .n {
                        display: block;
                        margin: 0 0 12px;
                    }
                }
            }

            .to-shop-link {
                width: 100%;
            }
        }
    }
}