@media screen and (max-width: @max_width_320) {
    .fullsize-popup {
        .search-form {
            input {
                width: calc(~"100% - 50px");
                height: 50px;
                font-size: 26px;
            }
            button {
                position: relative;
                padding: 0;
                width: 50px;
                height: 50px;
                font-size: 24px;
                left: -1px;
                line-height: 1;
                padding-top: 2px;
            }
        }
    }
}