@media screen and (max-width: @max_width_320) {
    .product-page {
        width: 100%;
        header {
            height: 71px;
            position: relative;
            .close-btn {
                position: absolute;
                left: 0;
                width: 71px;
                height: 71px;
                top: 0;
                margin: 0;
            }
            .logo {
                display: none;
            }
        }

        .product-page-layout {
            padding: 0 20px;
            position: relative;
            .name-wr {
                text-align: center;
                padding: 22px 0 0;
                .product-name {
                    font-size: 22px;
                    line-height: 40px;
                    margin-bottom: 5px;
                }
                .category {
                    margin-bottom: 0;
                }
            }
            .prev, .next {
                width: 33px;
                height: 240px;
                top: 102px;
                padding: 0;
                align-items: center;
                &:after {
                    width: 15px;
                    height: 15px;
                }
            }
            .variants-wr {
                padding: 0;
                .variants {
                    .slick-prev, .slick-next {
                        display: none !important;
                    }
                }
            }
            .left-block {
                margin-bottom: 12px;
                .badges {
                    display: flex;
                    flex-direction: column;
                    width: 50px;
                    position: absolute;
                    left: 0;
                    top: 102px;
                }
                .photo-wr {
                    height: 259px;
                }
                .variants-wr {
                    width: 100%;
                }
            }
            .right-block {
                .info-wr {
                    flex-direction: column;
                    .bl1 {
                        width: 100%;
                        text-align: center;
                    }
                    .bl2 {
                    }
                }
                .add-to-cart-btn {
                    width: 100%;
                    margin: 23px 0 24px;
                }
            }
        }

        .prefs {
        }
    }
}