@media screen and (max-width: @max_width_320) {
    .sizes-table-popup {
        position: relative;
        background: #F9F9F9;
        height: 100vh;
        .popup-wr2 {
            display: block;
            width: 100%;
        }
        .popup-wr {
            height: 100%;
            &:after {
                display: none;
            }
            .head {
                padding-top: 49px;
                .title {
                    text-align: left;
                    padding-left: 20px;
                }
                .close {
                    top: 46px;
                    right: 20px;
                }
            }
            .table {
                flex-direction: column;
                position: relative;
                overflow-x: scroll;
                -webkit-overflow-scrolling: touch;
                .col {
                    text-align: left;
                    display: flex;
                    width: 1420px;
                    padding-left: 20px;
                    &:nth-child(2n+1) {
                        background: #fff;
                    }
                    .v {
                        padding: 20px 0 !important;
                        width: 110px;
                        background: transparent !important;
                        &.h {
                            width: 210px !important;
                        }
                    }
                }
            }
            .btn.close {
                line-height: 56px;
                width: 224px;
                display: block;
                margin: 50px auto;
            }
            .hand {
                display: block;
                margin: 40px auto 0;
            }
        }
    }
}