@media screen and (max-width: @max_width_1024) {
	.about-page {
		.page-title {
			padding-left: 40px;
		}
		.contacts-list {
			padding-left: 40px;
			li {
				margin-right: 39px;
				&.address {
					width: 437px;
					margin-right: 0;
				}
			}
		}
	}
}