@media screen and (max-width: @max_width_1024) {
    .category-page {
        .categories-block {
            .caption {
                display: none;
            }
        }
        .filter-block {
            padding-left: 24px;
        }
        .colors-block {
            padding-left: 24px;
            &.compact {
                border-right: #fff 12px solid;
            }
        }
        .products-mesh {
            padding-top: 35px;
        }
    }
}