@media screen and (max-width: @max_width_1024) {
	.products-mesh {
		padding: 24px 0 6px 24px;
		.product-cart {
			//width: 296px;
			margin: 0 15px 33px 0;
		}
		.collection-block {
			margin-bottom: 16px;
		}
	}
}