@media screen and (max-width: @max_width_1024) {
    .index-page {
        .top-block {
            .c {
                top: 53px;
                left: 36px;
            }
        }

        .categories-block {
            padding-left: 24px;
            a {
                width: 297px;
                margin: 0 14px 16px 0;
            }
        }
    }
}