@import "./index";
@import "./common";
@import "./category";
@import "./product";
@import "./order";
@import "./order-final";
@import "./about";
@import "./delivery";

@media screen and (max-width: @max_width_1024) {
    body {
        > aside {
            width: 56px;
            &.scrolled {
                .mobile-sidebar {
                    .search-cart {
                        opacity: 1;
                    }
                }
            }
            &.opened {
                .sidebar {
                    left: 56px;
                }
                .mobile-sidebar {
                    background: @red;
                    .categories {
                        display: none;
                    }
                    .sn {
                        display: flex;
                    }
                    .open-menu-icon {
                        display: none;
                    }
                    .close-menu-icon {
                        display: block;
                    }
                }
            }
            .sidebar {
                position: fixed;
                top: 0;
                width: 270px;
                background: #3B4057;
                left: -214px;
                transition: .2s;
                .top {
                    height: 116px;
                    .default-top {
                        padding-top: 25px;
                        opacity: 1 !important;
                        transform: none !important;
                        .logo {
                            margin-bottom: 6px;
                            img {
                                width: 119px;
                            }
                        }
                    }
                    .scrolled-top {
                        display: none !important;
                    }
                }
                .links {
                    margin-bottom: 35px;
                    .categories {
                        margin-bottom: 6px;
                        a {
                            .icon-wr {
                                width: 87px;
                            }
                        }
                    }
                }
                footer {
                    .sn {
                        display: none;
                    }
                }
            }

            .mobile-sidebar {
                display: flex;
                z-index: 2;
                position: relative;
                background: #3B4057;
                transition: .2s;
                height: 100%;
                flex-direction: column;
                padding-bottom: 28px;
				justify-content: space-between;
                .open-menu-icon {
                    cursor: pointer;
                    padding: 22px 0;
                    i {
                        display: block;
                        width: 20px;
                        height: 3px;
                        margin: 0 auto;
                        background: #fff;
                        &:not(:last-child) {
                            margin-bottom: 7px;
                        }
                    }
                }

                .close-menu-icon {
                    width: 100%;
                    text-align: center;
                    font-size: 19px;
                    padding: 21px 0;
                    display: none;
                    cursor: pointer;
                }

                .categories {
                    margin-top: 65px;
                    margin-bottom: 50px;
                    a {
                        display: block;
                        text-align: center;
                        padding: 14px 0;
                        font-size: 16px;
                        transition: .2s;
                        &:hover, .selected {
                            background: @red;
                            span {
                                color: #fff;
                            }
                        }
                    }
                }

                .sn {
                    color: #fff;
                    display: none;
                    flex-direction: column;
                    align-items: center;
                    font-size: 21px;
                    margin-top: 129px;
                    a {
                        padding: 17px 0;
                    }
                }

                .search-cart {
                    opacity: 0;
                    transition: .2s;
                    .icon-search {
                        font-size: 23px;
                        text-align: center;
                        display: block;
                        margin-bottom: 86px;
                    }
                    .cart {
                        .sum {
                            transform: rotate(-90deg);
                            display: block;
                            font-size: 16px;
                            font-weight: 600;
                        }
                        .icon {
                            display: block;
                            text-align: center;
                            padding-top: 31px;
                            font-size: 20px;
                            color: @red;
                        }
                    }
                }
            }
        }

        > .main-content {
            width: calc(~"100% - 56px");
            margin-left: 56px;
        }

        header {
            .logo {
                display: block;
                padding: 0 9px 0 41px;
                .logo-min {
                    display: none;
                }
            }
            .main-menu {
                display: none;
            }
            .discount-block {
                margin-right: 64px;
            }
        }
    }
}