@media screen and (max-width: @max_width_1024) {
	.order-page {
		.page-title {
			padding-left: 25px;
		}
		.products-table {
			li {
				.photo-wr {
					width: 96px;
				}
				.product-info {
					margin-right: 48px;
				}
				.sum-block {
					width: 172px;
					margin-left: 50px;
				}
				.remove {
					padding-right: 11px;
					font-size: 0;
					.icon {
						font-size: 23px;
					}
				}
			}
		}
	}
}