@media screen and (max-width: @max_width_1024) {
    .product-page {
        width: 1024px;
        header {
            .close-btn {
                margin-right: -12px;
            }
        }
        .product-page-layout {
            .left-block {
                width: 447px;
                margin-right: 43px;
                .photo-wr {
                    height: 352px;
                }
            }
            .right-block {
                width: 398px;
                .product-name {
                    font-size: 28px;
                    margin-bottom: 10px;
                }
                .add-to-cart-btn {
                    width: 259px;
                    margin-bottom: 26px;
                }
                .all-params-link {
                    margin-bottom: 24px;
                }
                .variants-wr {
                    margin-bottom: 20px;
                }
            }
        }
    }
}