@media screen and (max-width: @max_width_768) {
	.about-page {
		.contacts-list {
			flex-wrap: wrap;
			li {
				margin-right: 43px;
				&.address {
					width: 540px;
					margin-top: 28px;
					margin-left: -2px;
					img {
						margin-right: 14px;
					}
				}
			}
		}
		.map {
			height: 408px
		}
		.feedback-form {
			max-width: 600px;
		}
	}
}