@media screen and (max-width: @max_width_768) {
    .category-page {
        .filter-block {
            flex-wrap: wrap;
            padding-left: 16px;
            padding-right: 16px;
            .filter-item {
                margin-bottom: 20px;
            }
        }
        .colors-block {
            .expand-btn {
                right: 0;
            }
        }
    }
}