@media screen and (max-width: @max_width_768) {
	p {
		max-width: 641px;
	}

	.products-mesh {
		padding: 24px 0 6px 16px;
		.product-cart {
			//width: 333px;
			margin: 0 15px 33px 0;
		}
		.collection-block {
			margin-bottom: 16px;
		}
	}

	.form {
		.row {
			.input-block {
				width: 290px;
			}
		}
	}
}