@media screen and (max-width: @max_width_768) {
	.delivery-page {
		padding-left: 40px;
		.delivery-companies {
			padding: 19px 11px 5px 0px;
			justify-content: flex-start;
			img {
				margin-right: 87px;
				margin-bottom: 34px;
				&:nth-child(3) {
					margin-right: 0;
				}
			}
		}
		.pay-wrap {
			padding-right: 0;
			margin-bottom: 30px;
			display: block;
			.text-block {
				width: 100%;
				padding-right: 0;
			}
			.mnm {
				padding: 32px 32px 20px;
				margin-top: 30px;
				width: 100%;
			}
		}
	}
}