@media screen and (max-width: @max_width_768) {
	.index-page {
		.top-block {
			height: 450px;
			.c {
				top: 22px;
				left: 29px;
				.t {
					font-size: 23px;
					letter-spacing: 23.8px;
				}
				.year {
					font-weight: 900;
					margin: -22px 0 -24px;
					font-size: 118px;
				}
				.t2 {
					font-size: 20px;
					margin-bottom: 19px;
				}
				.btn {
					padding: 0 31px;
					line-height: 50px;
				}
			}
		}

		.categories-block {
			padding-top: 16px;
			padding-left: 16px;
			a {
				width: 220px;
				margin: 0 11px 16px 0;
				height: 127px;
				.name {
					font-size: 16px;
					padding: 12px 5px;
				}
			}
		}
	}

	.collection-block {
		height: 195px;
	}
}