@import "./index";
@import "./category";
@import "./product";
@import "./order";
@import "./order-final";
@import "./about";
@import "./delivery";
@import "./common";


@media screen and (max-width: @max_width_768) {
	body {
		> .main-content {
			margin-left: 56px;
		}

		header {
			.logo {
				display: block;
				padding: 0 0 0 36px;
				width: auto;
				.logo-min {
					display: block;
					width: 60px;
				}
				.logo-wide {
					display: none;
				}
			}
			.main-menu {
				display: none;
			}
			.phone {
				margin-right: 0;
			}
			.search-icon {
				padding: 0 22px 0 32px;
			}
			.discount-block {
				margin-right: 64px;
			}
			.right-block {
				padding-right: 23px;
			}
			.discount-link {
				margin-right: 29px;
			}
		}
	}
}