@media screen and (max-width: @max_width_768) {
    .order-final {
        .page-wr {
            width: 438px;
            padding-left: 63px;
            padding-top: 34px;
            .page-title {
                text-align: left;
            }
            .params {
                height: auto;
                .param {
                    width: 100%;
                }
            }
        }
    }
}