@media screen and (max-width: @max_width_768) {
    .order-page {
        overflow: hidden;
        .page-title {
            padding-left: 16px;
            margin-bottom: 18px;
        }
        .products-table {
            display: flex;
            flex-wrap: wrap;
            width: calc(~"100% + 16px");
            padding-left: 16px;
            li {
                background: #fff !important;
                width: 333px;
                box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.14);
                flex-direction: column;
                height: 506px;
                position: relative;
                overflow: hidden;
                margin: 0 16px 16px 0;
                .left-block, .right-block {
                    flex-direction: column;
                }
                .photo-wr {
                    width: 100%;
                    height: 212px;
                    margin-top: 52px;
                    margin-right: 0;
                    .size {
                        position: absolute;
                        top: 27px;
                        left: -6px;
                        transform: rotate(-90deg);
                        font-weight: 600;
                        .value {
                            position: absolute;
                            transform: rotate(90deg);
                            margin: 0;
                            top: -1px;
                            left: -20px;
                        }
                    }
                }
                .product-info {
                    margin-right: 0;
                    text-align: center;
                    width: 100%;
                    margin-bottom: 59px;
                    height: 80px;
                    .articul {
                        position: absolute;
                        bottom: 18px;
                        width: 100%;
                        left: 0;
                        text-align: center;
                    }
                }
                .discount-block {
                    position: absolute;
                    top: 20px;
                }
                .sum-block {
                    margin: 0;
                    position: absolute;
                    top: 345px;
                    width: 100%;
                    text-align: center;
                    padding-left: 5px;
                    .price {
                        margin-right: 0;
                    }
                    .old-price {
                        position: absolute;
                        margin: 7px 0 0 14px;
                    }
                }
                .remove {
                    top: -88px;
                    right: -88px;
                    font-size: 0;
                    background: #FF4040;
                    width: 156px;
                    height: 156px;
                    position: absolute;
                    transition: .3s;
                    border-radius: 50%;
                    .icon {
                        font-size: 23px;
                        color: #fff;
                        position: absolute;
                        top: 97px;
                        left: 31px;
                    }
                }
            }
        }

        .summary-block {
            padding: 18px 0 31px;
        }
        .customer-block {
            width: 600px;
        }
    }
}