@media screen and (max-width: @max_width_768) {
    .product-page {
        width: 768px;
        header {

        }
        .product-page-layout {
            display: block;
            .left-block {
                width: 100%;
                margin-right: 0;
                margin-bottom: 17px;

                .photo-wr {
                    height: 319px;
                    margin-bottom: 19px;
                }
                .variants-wr {
                    width: 491px;
                    margin: 0 auto;
                }
            }
            .right-block {
                width: 100%;
                .info-wr {
                    display: flex;
                    align-items: flex-start;
                    .bl1 {
                        width: 349px;
                    }
                    .bl2 {
                        padding-top: 13px;
                    }
                }
            }
        }

        .prefs {
            width: 100%;
            margin-top: 32px;
            padding: 22px 68px 10px;
        }
    }
}